<body>
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-left">
        <h1>Lo sentimos</h1>
        <h2>No encontramos la página que buscabas</h2>
        
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-right">
        <img src="img/error.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>
    <br><br><br><br>
  </section><!-- End Hero -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


</body>