
<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script> 
<br>
<br>
<br>
<center><strong><h1>Cuestionario 3</h1></strong></center>
<center><form id="act" method="POST" action="/enviar_resultado1">
<input type="hidden" value="3" name="act1">
<input type="hidden" value="2" name="materia">
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        ¿Qué es un factor común?
      </div>
      <div class="accordion_body">
    <p ><input type="radio" name="p1" value="0" > Es el factor presente en todos los términos de un polinomio.</p>
    <p ><input type="radio" name="p1"  value="1"> Es el factor diferente en todos los términos de un polinomio.</p>
    <p ><input type="radio" name="p1"  value="2"> Un número imaginario</p>
    <p ><input type="radio" name="p1" value="3"> Ninguna de las anteriores.</p>
     
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Encuentra los factores primos de 30
      </div>
      <div class="accordion_body">
         <p ><input type="radio" name="p2" value="1"> 2*3*5 </p>
        <p ><input type="radio" name="p2"  value="0"> 6*3*5 </p>
        <p ><input type="radio" name="p2" value="2"> 2*4*2</p>
        <p ><input type="radio" name="p2" value="3"> 2*2*2</p>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Indica cual es el factor común de la siguiente expresión: mx-nx+xy
      </div>
      <div class="accordion_body">
        <p ><input type="radio" name="p3"  value="0"> Y</p>
        <p ><input type="radio" name="p3"  value="1"> ny</p>
        <p ><input type="radio" name="p3"  value="2"> X </p>
        <p ><input type="radio" name="p3"  value="3"> mx</p>
     
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
      <div class="accordion_header">
        Encuentra el factor común de estas expresiones: 8x^2 y^3  ;10x^3 y^7
      </div>
      <div class="accordion_body">
        <p ><input type="radio" name="p4"  value="0"> 10x^3 y^7</p>
        <p ><input type="radio" name="p4"  value="1"> 4x^2</p>
        <p ><input type="radio" name="p4"  value="2"> x^3 y^7</p>
        <p ><input type="radio" name="p4"  value="3"> 2x^2 y^3  </p>
      </div>
    </div>
   
  
  </div>	
  <br>
  <p><input type="submit"  class="btn btn-light" value="R E S U L T A D O"></p>
</form>
</center>
  </section><!-- End Hero -->