<section id="hero">
   
<br>
<br>
<br>
<center><strong><h1>Resultados</h1></strong><br>
<div class="cardi">
    <img src="img/resul.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">tema {{{newresp.actividad}}}</h5>
      <p class="card-text">{{{newresp.puntaje}}} /4</p>
    </div>
  </div>
</center>
    <br>
    <br>
    <br>
    <a href="principal"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->

  <!-- ======= Footer ======= -->