<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 1: El movimiento de los objetos</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        Marco de referencia y trayectoria; diferencia entre desplazamiento y distancia recorrida
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Todo lo que existe en el universo está en movimiento, en continuo cambio. Gracias a esto podemos distinguir los fenómenos que suceden en la Naturaleza, analizarlos y estudiarlos. Por ello, describir y comprender el movimiento y las causas que lo producen es tarea primordial del trabajo científico.
            
Basta con ver a nuestro alrededor para confirmar que las cosas se mueven: hay día y noche; el Sol sale por el este y se oculta en el oeste; los seres vivos tienen movimiento, crecen y se desarrollan; muchos animales se desplazan o pueden mover algunos de sus órganos. Pero también se mueven las cosas inanimadas, como el aire y el agua de los ríos; el suelo se erosiona y la rocas se desgastan; hasta los continentes se mueven, aunque no lo notemos.
            
Sabemos que un objeto se mueve cuando cambia de posición; sin embargo, no siempre es sencillo determinar, entre dos o varios objetos, cuál es el que cambia de posición. Por ejemplo, en este momento, lo más seguro es que estés sin cambiar de lugar leyendo esto, sentado; tal vez seas de los que disfrutan leyendo a la sombra de un árbol, pero, ¿en realidad no te mueves? Sabes que la Tierra gira sobre su propio eje dando una vuelta cada 24 horas y tú estás sobre ella; entonces, ¿te mueves o no?
            
En Física decimos que el movimiento depende del marco de referencia; es decir, del lugar desde donde se observa. Un marco o sistema de referencia consta de un origen, es decir, un punto desde el que se consideran las medidas de distancia, velocidad, rapidez, etcétera, y de un sistema coordenado que determina la escala de las medidas, la posición de un objeto o la dirección en la que se mueve. Por ejemplo, si ahora estás sentado en tu pupitre, entonces no te mueves si el marco de referencia es tu salón de clases; pero si el marco de referencia es la Luna, entonces sí te mueves con toda la Tierra en su movimiento de rotación y de traslación.
            
En tus clases de Matemáticas ya estudiaste el plano cartesiano, ¿recuerdas? Es el que se forma por un par de ejes perpendiculares, donde podemos ubicar una gran cantidad de puntos utilizando coordenadas. El plano cartesiano es muy útil para estudiar el movimiento, y si ubicamos el origen del plano (el punto donde se cruzan los ejes) en el punto de referencia que elegimos para estudiar un movimiento, mucho mejor; así nuestro plano cartesiano se convierte en un marco o sistema de referencia.
            
Utilizando las coordenadas cartesianas podemos señalar la posición de un objeto. Recuerda que los puntos se ubican por medio de pares ordenados de la forma (a,b), donde la letra “a” corresponde a la coordenada del eje horizontal o de las x y la letra “b” al eje vertical o de las y.
            
Cuando un objeto se mueve, cambia su posición respecto de un marco de referencia y describe una trayectoria, que es la línea imaginaria por la que pasa. Otro concepto importante en la descripción del movimiento es la distancia, con el que estás familiarizado desde la primaria: has medido distancias como la longitud de una recta, los lados de figuras geométricas, tu estatura, etcétera, y para ello has usado una regla, un flexómetro o una cinta métrica, entre otros instrumentos. ¿Qué es entonces la distancia? La distancia es la medida de la longitud de la separación que existe entre dos puntos.
            
La distancia que hay entre el origen de un sistema coordenado y una escuela es de aproximadamente 13 cuadras, pero este dato no es suficiente para que una persona pueda localizarla; para hacerlo, es necesario especificar, además de la distancia, la dirección en la que se encuentra. Así podemos decir que la escuela está aproximadamente a 13 cuadras del origen en dirección noreste. Estos dos elementos, distancia y dirección, constituyen lo que en Física se conoce como desplazamiento. Es importante notar que el desplazamiento no es lo mismo que la distancia recorrida.
            
Gráficamente el desplazamiento se representa por medio de una flecha, cuya longitud es directamente proporcional a la distancia que representa. La flecha va del punto inicial al punto final del recorrido. En cambio, la distancia recorrida es la longitud de la trayectoria, es decir, la longitud del camino que siguió el objeto al trasladarse, y no es necesario asociarle una dirección.
            
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Velocidad y rapidez
      </div>
      <div class="accordion_body">
        <textarea readonly="true">La rapidez y la velocidad son otros conceptos importantes en la descripción del movimiento. En el lenguaje cotidiano se usan indistintamente, pero desde el punto de vista físico son diferentes.
            
La rapidez es un concepto que involucra la distancia y el tiempo, y se define como el cociente entre la distancia recorrida y el tiempo empleado en recorrerla, que matemáticamente se expresa como:
            Rapidez promedio = Distancia recorrida (d)/Tiempo (t)  o  v = d/t
            
La velocidad es la magnitud que relaciona el cambio en la posición de un objeto (desplazamiento) dividido entre el tiempo, y se expresa de la siguiente manera:
            Velocidad promedio = Cambio en la posición (∆x)/Tiempo (t) =  v = ∆x/t  = (xf – xi)/t
            donde xi es la posición inicial y xf , la posición final.
            
La velocidad es una magnitud que incluye, además de un tamaño, una dirección y un sentido.  En el movimiento en un plano o en el espacio, la rapidez se obtiene determinando la distancia que recorre el objeto en movimiento y se divide entre el tiempo; para la velocidad hay que considerar, además, la dirección y el sentido del movimiento.
            
Cabe mencionar que la rapidez y la velocidad anteriores corresponden a la rapidez y velocidad media o promedio, ya que sólo se consideran los tiempos y las distancias, o las posiciones iniciales y finales de cada recorrido.
            
Conocer la rapidez que cada objeto tuvo en cada momento de su trayectoria es más complicado; se le conoce como rapidez instantánea, ya que se refiere a un instante preciso. Por ejemplo, si un autobús tuvo que detenerse porque en su trayecto encontró un semáforo en rojo, en ese momento su rapidez instantánea fue de cero. De igual manera, a la velocidad de un objeto en un momento preciso se le conoce como velocidad instantánea. Un objeto puede moverse siempre con la misma rapidez instantánea, pero su velocidad instantánea puede cambiar; por ejemplo, un objeto que se mueve en círculos puede tener siempre la misma rapidez pero su dirección cambia en cada momento.
  
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Relación entre inclinación de la gráfica y rapidez
      </div>
      <div class="accordion_body">
        <textarea readonly="true">En el siglo XVII, René Descartes (1596-1650) ideó los “planos cartesianos”, que ya se mencionaron y que facilitan el estudio de las gráficas. Las gráficas son herramientas importantes porque en ellas se representan las relaciones entre dos grupos de datos, como los de posición y tiempo del ejemplo anterior. En el eje horizontal, o de las x, ubicamos los valores del tiempo, y en el eje vertical, o de las y, los datos de posición. 

Si en una tabla los datos de posición de caballos aumentan de manera proporcional a los del tiempo; si el tiempo aumenta al doble, de 0.5 s a 1.0 s, la distancia con respecto a la línea de salida que recorren también aumenta al doble, de 10 m a 20 m; si el tiempo aumenta al triple, de 0.5 s a 1.5 s, la distancia también aumenta al triple, de 10 m a 30 m, y, como has visto en tus cursos de Matemáticas, esto significa que se trata de una relación de proporcionalidad directa.
            
La gráfica de la relación entre la posición y el tiempo de cada caballo se representaría como una línea recta que pasa por el origen; esto también significa que se trata de una relación de proporcionalidad directa.
            
En este tipo de relaciones existe una constante, llamada de proporcionalidad (que también estudiaste en tus cursos de Matemáticas), de modo que al multiplicar por ella los valores de un conjunto, obtenemos los del otro conjunto; en este caso consideraremos la distancia recorrida y el tiempo; si multiplicamos la constante de proporcionalidad por los valores del tiempo, obtenemos los de distancia. Esta constante se obtiene al dividir la distancia que recorre un objeto entre el tiempo que tardó el objeto en hacer ese movimiento. Por ejemplo, un caballo de nombre Arabela recorrió los primeros 50 m en 3 s; por tanto la constante de proporcionalidad C es:
            C = d/t = 50 m/3 s= 16.66 m/s
            
Observa que la constante de proporcionalidad corresponde a la rapidez. Si la rapidez de un móvil no cambia en todo su recorrido, se dice que se mueve con rapidez constante, y su representación gráfica es una línea recta. A una recta más inclinada le corresponde la mayor constante de proporcionalidad; es decir, existe una relación entre la inclinación y la rapidez. A mayor inclinación, mayor rapidez y a menor inclinación, menor rapidez. La inclinación se mide con el ángulo que la recta forma con el eje horizontal. 
            
La representación gráfica de un movimiento con rapidez o velocidad constante corresponde a una línea recta, pero no es la única forma que puede adquirir una gráfica; ésta puede ser curva o de forma irregular, dependiendo del tipo de movimiento. Cuando un objeto se mueve en línea recta y con rapidez constante, es decir, con velocidad constante, se denomina movimiento rectilíneo uniforme (mru).
            
Las gráficas nos sirven para describir y predecir el movimiento. A partir de ellas, muchas veces es posible determinar cómo se moverá el objeto en un rango mayor que el proporcionado por los datos, o conocer un dato en valores intermedios a los tomados.

</textarea>
      </div>
    </div>
    
  
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
     <div align= "center">
      <a href="/actividades-F1"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosf0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->