<section id="hero">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 2: Movimiento ondulatorio, modelo de ondas, y explicación
    de características del sonido</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        Un tipo particular de movimiento: el movimiento ondulatorio
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Seguramente has escuchado sobre las ondas. Quizá las más fáciles de ver son las que se forman en el agua; el sonido y la luz son fenómenos ondulatorios, los radios y los teléfonos celulares captan ondas, y tal vez te hayas preguntado por qué el horno donde se calienta la comida instantánea se llama “de microondas”. ¿Qué relación existe entre las ondas que se forman en el agua y las aquí mencionadas?
            
Por experiencia sabes que si golpeas una campana, el sonido que produce puede escucharse a cierta distancia, y si arrojas una piedra a un estanque, a partir del punto donde cae, el agua se mueve hasta los extremos del estanque. Estos fenómenos tienen algo en común: son ondas, y a su movimiento se le llama movimiento ondulatorio.
            
Si arrojas una piedra a un estanque tranquilo, notarás un movimiento de la superficie del agua que, luego de cierto tiempo, llega hasta la orilla. Al golpear el agua, la piedra provoca una perturbación en ella; es esta perturbación la que se desplaza: cada porción de agua se mueve sólo un poco, describiendo un movimiento que notamos como un vaivén, o vibración, más o menos vertical, y por eso sólo un poco de agua rebasa la orilla del estanque. Una cualidad del movimiento ondulatorio es que cuando una onda se desplaza no es la materia la que pasa de un lugar a otro a lo largo del medio, sino sólo la perturbación. El movimiento ondulatorio siempre tiene una causa o fuente que lo produce; por ejemplo, las olas del mar se forman cuando el viento agita la superficie del agua.
            
Cuando una sola perturbación se propaga recibe el nombre de pulso, y si la perturbación es repetida y constante se produce un tren de ondas.
     
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Clasificación de ondas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Las ondas pueden clasificarse según los medios en que se propagan: las ondas mecánicas necesitan un medio material (sólido, líquido o gas) para propagarse; por ejemplo, el sonido, las ondas que se forman en el agua, en una cuerda o un resorte. Las ondas electromagnéticas no requieren un medio, se propagan incluso en el vacío; por ejemplo, la luz, las ondas de radio y televisión o las microondas de los hornos. 
            
Otra forma de clasificar las ondas es por la dirección del movimiento de vibración que presentan. En una onda transversal la vibración es perpendicular a la dirección en que se propaga. En la actividad anterior pudiste observar ondas de este tipo en el agua y la cuerda. Por otro lado, cuando la vibración ocurre en la misma dirección en que viaja la onda, se le llama onda longitudinal.

        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Relación longitud de onda y frecuencia
      </div>
      <div class="accordion_body">
        <textarea readonly="true">En una onda transversal, las partes más altas de la onda se llaman crestas y las más bajas, valles. La altura que alcanza la cresta se llama amplitud de onda y depende de lo intensa que es la perturbación inicial. Un ciclo completo incluye un valle y una cresta. La distancia entre dos crestas o dos valles consecutivos recibe el nombre de longitud de onda (λ).
            
En una onda longitudinal observamos zonas de comprensión y dilatación máximas en lugar de crestas y valles, y en este caso la longitud de onda es la distancia entre dos compresiones o dos dilataciones máximas consecutivas.
            
Al tiempo que tarda una onda o ciclo completo en pasar por un punto fijo se le llama periodo (T) y en el SI se mide en segundos. Otra variable relacionada con las ondas es la frecuencia (f) y se refiere al número de ondas que pasan por un punto en un segundo, su unidad de medida se conoce como hertz (Hz) o ciclos por segundo (ciclos/s). Si analizas, verás que el periodo es el inverso de la frecuencia, es decir: T = 1/f.

</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
        <div class="accordion_header">
            Rapidez de propagación
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Si observamos un punto de una onda (una cresta o un valle) y medimos el tiempo que tarda en cubrir una distancia igual a su longitud de onda, podemos determinar la rapidez con la que se propaga. Si analizas, verás que ese tiempo es igual a su periodo, entonces podemos definir la rapidez de propagación de una onda como:
            rapidez de propagación = v = longitud de onda/periodo = λ/T 
            
Y como la frecuencia es el inverso del periodo, podemos escribir:
            v = longitud de onda × frecuencia = λf
            
  
  </textarea>
        </div>
      </div>
      <div class="accordion_wrap accordion_5">
        <div class="accordion_header">
            El sonido
        </div>
        <div class="accordion_body">
          <textarea readonly="true">El sonido es una onda mecánica longitudinal que se produce cuando un objeto vibra, por ejemplo, la cuerda de una guitarra y las cuerdas vocales, estas vibraciones son transmitidas en forma de ondas y de ahí llegan al oído; las partes del oído vibran con las ondas y el nervio auditivo convierte estas vibraciones en impulsos eléctricos que el cerebro interpreta como sonido.
            
No todas las vibraciones que producen los objetos las percibimos como sonido; en general, el oído humano percibe como sonido vibraciones de 20 a 20 000 Hz. Para que este tipo de vibraciones llegue de la fuente que las genera al oído se necesita un medio elástico (gas, líquido o sólido) en el que las vibraciones se propagan como ondas. Si no existe tal medio, la vibración no se transmite y no se produce el sonido. Las ondas del sonido son longitudinales, sólo que en este caso lo que se comprime y expande es el aire u otro medio elástico. Por ejemplo, una campana que vibra produce compresiones y rarefacciones en el aire, que constituyen las ondas del sonido. Cuando el sonido se genera en el aire, se propaga en todas direcciones, por lo cual se dice que forma ondas sonoras esféricas.
            
La rapidez con que se propaga el sonido depende de las características del medio: es mayor en los sólidos que en los líquidos, y en éstos es mayor que en los gases. También depende de otras condiciones; por ejemplo, en el aire seco a una temperatura de 0 °C el sonido viaja a 331.6 m/s y a 20 °C, a 344 m/s.

  </textarea>
        </div>
      </div>
      <div class="accordion_wrap accordion_6">
        <div class="accordion_header">
            Propiedades del sonido
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Tú puedes distinguir los sonidos que te rodean: el canto de un ave, el ruido de un camión o la voz de la persona más agradable para ti. Esto es posible porque los sonidos producidos por distintas fuentes tienen características físicas distintivas. Veamos algunas.
            
El tono se relaciona con la frecuencia y gracias a él distinguimos entre sonidos graves y agudos: un sonido grave o bajo (como el claxon de un camión) se produce cuando una fuente de sonido tiene una frecuencia de vibración baja; en cambio, un sonido agudo o alto (como el tintineo de una campana pequeña o el chillido de un ave) lo produce un objeto que vibra con una frecuencia alta.
            
La intensidad es consecuencia de la amplitud de la onda, y es lo que comúnmente llamamos volumen. Un sonido de mayor amplitud se escucha con mayor volumen que uno de menor amplitud. En el sonido, la amplitud está relacionada con el grado de compresión y rarefacción del aire; es este factor el que determina la amplitud del movimiento de los tímpanos en nuestros oídos. Así, si te sitúas frente a una enorme bocina durante un concierto, no sólo escucharás la música a un volumen altísimo, también sentirás los “golpes de aire” sobre ti. Además de que podía dañar a tus oídos.
           
Ahora bien, dos instrumentos musicales (un piano y un clarinete, por ejemplo) producen sonidos del mismo tono y la misma intensidad, y aún así puedes distinguirlos, ¿por qué? En general, las fuentes sonoras no producen sonidos puros sino una mezcla de varios tonos que, combinados, generan su sonido característico, llamado timbre. Una nota musical “pura” consiste en un tono de frecuencia específica. Cuando un instrumento produce una nota, en realidad genera un tono principal (sonido fundamental) con la frecuencia propia de la nota, y una serie de tonos secundarios (armónicos) con frecuencias que son múltiplos de la principal.

  </textarea>
        </div>
      </div>
      <div class="accordion_wrap accordion_7">
        <div class="accordion_header">
            Reflexión, refracción y absorción de las ondas
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Ya hemos señalado que el sonido puede propagarse en distintos medios materiales. También puede pasar de un medio a otro y por ello podemos escuchar a través de una puerta de madera, por ejemplo. Cuando una onda sonora incide sobre un medio distinto del que se propaga, ocurren tres cosas interesantes: 
            
Parte de la onda se refleja, a este fenómeno se le conoce como reflexión.  Con el sonido sucede lo mismo, cuando las ondas de sonido se reflejan en una superficie dura, se produce el eco.
            
Otra parte puede propagarse por el nuevo medio, y como consecuencia de que éste tiene propiedades distintas, el sonido cambia de rapidez y dirección de propagación; este fenómeno se llama refracción, y ello ocurre cuando comes algún alimento crujiente y piensas que estás produciendo un escándalo, aunque nadie parece notarlo: el sonido se propaga de modo distinto en tu propio cuerpo y en el aire.
            
En general, todos los materiales absorben parte de las ondas sonoras que reciben, pero algunos absorben mayor cantidad que otros, y otros absorben mejor algunas frecuencias específicas. ¿Has notado que en un cuarto vacío se escucha claramente el eco? Esto no sucede cuando hay muebles y cortinas.

  </textarea>
        </div>
      </div>
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
     <div align= "center">
      <a href="/actividades-F2"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosf0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->