<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 3: El trabajo de Galileo</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        Explicaciones de Aristóteles y Galileo acerca de la caída libre: Todo lo que sube, baja
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Antes de Galileo, las ideas aceptadas como verdaderas acerca del movimiento de los cuerpos fueron las de los grandes pensadores griegos, entre ellos Aristóteles; él aseguraba que los cuerpos más pesados (o con mayor masa) caían más rápido que los cuerpos menos pesados. ¿En qué supones que basaba su afirmación? ¿Esta afirmación coincide con tu experiencia cotidiana?
          
¿Cómo se mueven los objetos cuando caen? En la época de Aristóteles la experimentación no se consideraba mucho; se tenía la idea de que para comprender el mundo era suficiente utilizar argumentos lógicos para lograr deducciones coherentes y razonables. Aristóteles vivió en una sociedad esclavista; en su época, los “hombres libres” consideraban que todo tipo de trabajo manual era indigno y por eso le daban mayor importancia a la reflexión, quizá también por ello no consideraban mucho la experimentación. Así que, basado en la observación cotidiana de que un objeto ligero como una pluma tarda más tiempo en caer que un objeto pesado como una piedra, propuso que los objetos pesados siempre caen más rápido que los ligeros, pero además afirmaba que la relación entre la rapidez de caída y la masa de los objetos era proporcional; así un objeto de 2 kg de masa cae dos veces más rápido que uno de 1 kg.
          
Por otro lado, Aristóteles había notado que el medio afecta la rapidez de caída. En el agua la rapidez de caída de un objeto es menor que en el aire, y en la miel sería menor que en el agua. Concluía que la rapidez con la que cae un objeto es inversamente proporcional a la densidad del medio. ¿Y qué pasaría si no hubiera medio, es decir, si un objeto cayera en el vacío? En tal caso, decía Aristóteles, el objeto caería con velocidad infinita, pues no habría nada que se opusiera al movimiento. ¿Tú qué piensas? ¿Cómo se podrían comprobar las ideas de Aristóteles? ¿Consideras que en su tiempo existían los instrumentos para demostrar sus hipótesis?

        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        ¿Quién fue Galileo?
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Galileo Galilei nació en Pisa, Italia, en 1564 y murió en 1642 en Florencia. Es famoso por sus descubrimientos con el telescopio: fue el primer ser humano en observar los cráteres de la Luna y sus montañas; en ver que alrededor de Júpiter giraban pequeños planetas (satélites); descubrió que la Vía Láctea es un conjunto de estrellas; y observó las manchas solares, entre otros hallazgos. Pero más importante para la ciencia fue la comprobación de sus ideas por medio de experimentos cuantificados, es decir, con cantidades numéricas; con ello relacionó los fenómenos físicos con las Matemáticas, y dio origen al método científico.
          
Galileo era muy activo y de espíritu indagador. Le gustaba observar detenidamente las cosas y cuestionarse sobre ellas; además no creía todo lo que le decían sus maestros o los libros, sino que buscaba pruebas para convencerse. Por ejemplo, una de las cosas que no le convencía era la afirmación de Aristóteles de que los objetos pesados caen más rápido que los objetos ligeros; de hecho, pensaba que era un error.
          
Existe una leyenda popular que narra que Galileo soltó balas de cañón de diferente peso desde la parte más alta de la torre de Pisa en Italia —la cual tiene una inclinación debida a defectos en su cimentación—, para demostrar que todos los objetos caen a la misma velocidad. Aunque no existen suficientes fuentes históricas que sustenten dicha leyenda, imagínate lo que pudo haber sucedido. 
          
El experimento que está comprobado que sí llevó a cabo Galileo sobre la caída de los cuerpos fue el de bolas de bronce que rodaban sobre planos inclinados, y que fue el que echó abajo las creencias de la escuela griega en torno a este tipo de movimiento.
          
Si realizas un experimento, y dejas caer una hoja de papel extendida, el movimiento será distinto que si la compactaras; el movimiento vertical parece depender más de la forma de los cuerpos que de la cantidad de masa que poseen. 
          
¿Cómo explicarías el hecho de que la hoja de papel compactada cae con una rapidez mayor que la hoja extendida? ¿Qué interfiere en el camino de la hoja extendida que le impide caer a la misma rapidez que la compactada? La respuesta es: el aire (recuerda que Aristóteles ya había considerado que el medio se oponía al movimiento de caída de los objetos). Entre los cuerpos en caída libre y el aire hay fricción o rozamiento. Entre más grande sea el área de contacto entre el objeto y el aire, mayor será la fricción sobre el cuerpo y mayor será su resistencia a caer; por eso la hoja extendida cae más lentamente que la compacta. Pero, ¿cómo sería el movimiento de la misma hoja extendida si no existiera el aire? Si no existiera el aire, absolutamente todos los cuerpos caerían al mismo tiempo, porque no habría un agente externo que se opusiera al movimiento vertical. En la actualidad existen dispositivos a los que, prácticamente, se les extrae todo el aire; se les llama cámaras de vacío, en las que todos los objetos, sin importar su masa o forma, tardan el mismo tiempo en caer una misma distancia.
          
Esta fue la hipótesis de Galileo: que todos los cuerpos debían caer con la misma rapidez en ausencia de aire o cualquier otro agente externo que se opusiera a su caída.

        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Movimiento de caída libre
      </div>
      <div class="accordion_body">
        <textarea readonly="true">En general, el movimiento de un cuerpo que cae está sometido a la resistencia del medio que lo rodea; si no existiera dicho medio, tampoco habría resistencia a la caída de los cuerpos; con esta condición se dice que el movimiento es de caída libre. Podríamos decir que un cuerpo cuya masa está distribuida de tal forma que el aire no ofrece mucha resistencia, al caer su movimiento es aproximadamente de caída libre. Así, por ejemplo, si dejamos caer 1 kg de algodón extendido, el aire ofrecerá más resistencia que para 1 kg de plomo, por ello el segundo caerá más rápido. Si compactamos el kilo de algodón de manera que el aire no se oponga de manera significativa a su caída, el kilo de algodón caerá al mismo tiempo que 1 kg de plomo.
          
Galileo no sólo postuló que en ausencia de aire los cuerpos caían con la misma rapidez; su objetivo era describir detalladamente el movimiento de los cuerpos en caída libre. El experimento que supuestamente hizo en la torre de Pisa fue cualitativo y su finalidad era demostrar la invalidez de los postulados aristotélicos.
          
Pero Galileo no pudo medir el tiempo ni la rapidez en este experimento, pues en esa época no había instrumentos de medición apropiados. Así, no describió el movimiento de los cuerpos que caen libremente, sino mediante experimentos con planos inclinados y objetos esféricos. Por otra parte, ahora disponemos de instrumentos de medición precisos, como relojes digitales y velocímetros, de manera que podemos hacer mediciones directas de la caída libre.

</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
        <div class="accordion_header">
          Experimento de Galileo en planos inclinados
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Como el descenso de un cuerpo en caída libre es muy rápido como para medir el tiempo cuando va cayendo, Galileo pensó en el plano inclinado con el propósito de retardar la caída y poder medir el tiempo.
            
Galileo dejó rodar esferas de bronce desde la parte más alta de una rampa y midió indirectamente el tiempo que tardaban en llegar a la parte más baja. Para medir el tiempo, utilizó un reloj de agua que consistía en una vasija con agua que se vaciaba lentamente en otro recipiente a través de un tubo muy fino; cada determinada cantidad de agua correspondía a una unidad de tiempo, de tal forma que cada vez que la esfera descendía, medía la cantidad de agua acumulada durante su recorrido y, de esta forma, tenía una medida indirecta del tiempo que tardaba la esfera en recorrer esa distancia. La distancia era medida de manera directa.
            
En sus experimentos, Galileo aumentó poco a poco la inclinación de las rampas, y observó que la velocidad con que descendían las bolas de bronce aumentaba conforme aumentaba la inclinación. Por ello supuso que el movimiento de caída libre era del mismo tipo que el de un objeto que se dejaba caer sobre una rampa totalmente vertical, y que su rapidez sería la máxima alcanzada en este tipo de movimiento.

  </textarea>
        </div>
      </div>
      <div class="accordion_wrap accordion_5">
        <div class="accordion_header">
          Aportación de Galileo en la construcción del conocimiento científico
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Por un momento imagina que te encuentras en una época de la historia en la que aún no se sabe que la Tierra es redonda y quieres saber qué forma tiene. ¿Qué propondrías como modelo? Una posibilidad es imaginar que la Tierra tiene una superficie plana y horizontal en la cual podamos estar de pie y caminar; ¿por qué? Este modelo obedecería a una inferencia lógica: si la Tierra fuese curva o vertical, tal vez pensaríamos que podríamos resbalar o caernos. Antes del siglo XVII, el conocimiento se construía mediante reflexiones y deducciones lógicas.
            
Los pensadores de esas épocas postulaban teorías a partir de observaciones muy generales. Esta forma de generar conocimiento tuvo su origen en la filosofía griega, y se desarrolló ampliamente con el pensamiento de Platón (427-347 a.n.e.) y de su alumno Aristóteles. Ambos filósofos sostenían que el conocimiento del universo era posible únicamente con el razonamiento humano mediante el pensamiento.
            
Esta manera de estudiar los fenómenos naturales cambió con el trabajo de Galileo, quien sentó las bases de la ciencia moderna, porque propuso un método sistemático basado en la verificación experimental de las hipótesis o explicaciones sobre los fenómenos naturales. Así, su hipótesis de que los objetos caen con la misma rapidez independientemente de su masa quedó demostrado cuando hizo sus experimentos con planos inclinados, y midió y comparó las masas y los tiempos que tardaban las bolas de bronce en descender por la rampa; de este modo no sólo explicaba las cosas de manera cualitativa sino también cuantitativa; de esta forma introdujo las matemáticas en las explicaciones de los fenómenos naturales. Galileo estaba convencido de que “la Naturaleza es un libro escrito con caracteres matemáticos” y que sin las matemáticas es imposible entender el universo que nos rodea.
            
Los experimentos de Galileo fueron fundamentales para describir una clase muy particular de movimiento: el de caída libre, pero más importante fue que por primera vez alguien hizo experimentos para reproducir los fenómenos físicos y verificar las hipótesis.
            
La ciencia actual se basa en la observación y en la experimentación, pero nunca ha dejado de lado el razonamiento lógico. La herramienta lógica que heredamos de los antiguos filósofos griegos, especialmente de Aristóteles, sigue siendo útil en la ciencia moderna; la diferencia es que ahora aceptamos o rechazamos las hipótesis que llevan a las conclusiones obtenidas por razonamiento lógico con base en los datos derivados de observaciones y experimentos.

  </textarea>
        </div>
      </div>
      <div class="accordion_wrap accordion_6">
        <div class="accordion_header">
            Historia de la Ciencia: El caso Galileo
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Galileo Galilei vivió durante el Renacimiento tardío, cuando las nuevas ideas sobre el arte y el conocimiento suplían las antiguas concepciones dogmáticas sobre la Naturaleza y el universo. Al igual que otros grandes científicos de su tiempo, fue un hombre interesado en la música, la pintura, la literatura, las Matemáticas, entre otras.
            
Su espíritu inquieto lo llevó a confrontar no sólo las ideas sobre la Naturaleza que prevalecían en el pensamiento de esa época, sino las de índole religioso. Perfeccionó el telescopio, inventó termómetros, instrumentos de medición, hizo experimentos con el péndulo, estudió el movimiento de los cuerpos, etcétera. Por su método para estudiar los fenómenos es considerado el “padre de la Astronomía moderna”, el “padre de la Física” y el “padre de la ciencia”. Galileo es, sin lugar a dudas, uno de los principales personajes en la historia de la humanidad.
            
Antes de Galileo, la idea de que la Tierra estaba situada en el centro del universo era tan aceptada que parecía imposible contradecirla. Este modelo del universo, llamado “geocéntrico”, había sido perfeccionado por el filósofo griego Claudio Ptolomeo (85-165) en el siglo II, y aunque el modelo era bastante complicado, con él se podían predecir con suficiente exactitud los movimientos de los astros y algunos fenómenos como las estaciones del año. Siglos después, un astrónomo polaco, Nicolás Copérnico (1473-1543), elaboró un modelo donde el Sol se encontraba en el centro y la Tierra giraba en torno a él como un planeta más; a este modelo se le llama “heliocéntrico”. En un principio esta idea fue aceptada por intelectuales y canónigos, pero con el tiempo fue rechazada porque —entre otras cosas— contradecía las ideas de Aristóteles, quien era considerado, en especial por la Iglesia católica, como una autoridad en el ámbito del conocimiento.
            
Con su telescopio, Galileo descubrió que la superficie de la Luna no era lisa—como se creía en ese tiempo— sino que estaba conformada por valles y montañas; descubrió que la Vía Láctea es un conjunto de estrellas, y observó manchas en la superficie del Sol que cambiaban de lugar con el paso del tiempo, lo cual indicaba que el Sol tenía movimiento rotacional. Pero quizá su hallazgo astronómico más importante fue que en enero de 1610 observó que cuatro “estrellas” (en realidad satélites) giraban alrededor de Júpiter. Esto demostró que no todos los astros giraban alrededor de la Tierra. Galileo descubrió que Venus mostraba fases como las de la Luna, lo que bien podía explicarse usando el modelo heliocéntrico. Asimismo, se convenció de la veracidad de la teoría de Copérnico. Publicó sus trabajos en el libro Diálogos relacionados con dos ciencias nuevas. En esa época la autoridad de la Iglesia católica se veía amenazada por diversos sucesos como la reforma protestante, la separación de la Iglesia anglicana y la Guerra de los 30 años; como consecuencia, la Iglesia católica radicalizó ciertas posturas, entre ellas el rechazo de la teoría heliocéntrica. Debido a ello, se pidió a Galileo enseñar la teoría heliocéntrica sólo como hipótesis y no como un hecho verdadero. 
            
Hizo caso omiso de la petición, fue acusado de herejía (profesar cualquier doctrina contraria a la fe) y llevado a juicio ante los tribunales de la Inquisición, por lo que tuvo que retractarse. Cuenta la leyenda que al final del juicio, habiendo negado la teoría heliocéntrica, golpeó con su puño el suelo y dijo: “y sin embargo, se mueve”.

  </textarea>
        </div>
      </div>
     
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
     <div align= "center">
      <a href="/actividades-F3"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosf0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->