<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 4: La aceleración; diferencia con la velocidad. Interpretación y representación de gráficas:velocidad-tiempo y aceleración-tiempo</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        La aceleración
      </div>
      <div class="accordion_body">
        <textarea readonly="true">En la mayoría de los movimientos que podemos observar en la vida cotidiana, la velocidad de los objetos no se mantiene constante; los móviles que nos rodean cambia frecuentemente su rapidez o su dirección, es decir, cambia su velocidad.
            
Conocer la forma en que cambia la velocidad de un cuerpo, tanto en rapidez como en dirección, nos es útil para anticipar la forma en que se moverá en el futuro. Muchos factores afectan el movimiento de un cuerpo; por sencillez, nos concentraremos en el caso de cuerpos que se mueven en línea recta, suponiendo que no son afectados por la resistencia que oponen el aire o las superficies sobre las que se mueven.
            
¿Cómo es el cambio de la rapidez conforme cambia el tiempo, uniforme o variable? Observa que la rapidez aumenta siempre de la misma manera: crece 9.8 m/s por cada segundo transcurrido.
            
Con esta observación, podemos prever cómo será la rapidez de un objeto en caída libre en cualquier momento:
            Rapidez = 9.8 × tiempo
           
 Esto significa que el cambio en la rapidez en caída libre es uniforme y la relación entre rapidez y tiempo es, como se dice en Matemáticas, de proporcionalidad directa. En este caso, el número 9.8 es la constante de proporcionalidad. En Física las cantidades tienen unidades de medida y son muy importantes, así que también debemos considerarlas. ¿En el SI, en qué unidades se mide la rapidez?, ¿y el tiempo? Entonces, para que las unidades a ambos lados de la igualdad anterior coincidan, la constante deberá tener unidades de metros sobre segundo al cuadrado (m/s2). Por tanto, podemos reescribir la igualdad anterior de la siguiente manera:
            v = 9.8 m/s2 × t
            donde v es la rapidez (en m/s) del objeto en el tiempo t (en s).
           
 En todos los casos la relación entre la rapidez y el tiempo debería ser proporcional y la constante de proporcionalidad es lo que marcaría la diferencia. Así, generalizando la ecuación anterior tendríamos: v = ct, donde c es la constante de proporcionalidad; despejándola obtenemos:
            c = v/t = rapidez/tiempo
            
Esta es una variable cinemática muy importante que en Física recibe el nombre de aceleración; en términos generales, indica la variación de la velocidad de un objeto con respecto al tiempo (no sólo en caída libre sino en cualquier movimiento).
            
En la situación que hemos analizado, sólo cambia la rapidez, sin embargo, si un objeto cambia la magnitud de su velocidad (rapidez) o su dirección o sentido, entonces tiene un movimiento acelerado.
            
En general, usamos la aceleración promedio para describir la razón del cambio de velocidad respecto del tiempo, es decir:
            aceleración promedio = cambio de velocidad/intervalo de tiempo , a = vf− vi/tf− ti= ∆v/∆t
            donde vf es la velocidad final; vi es la velocidad inicial; ti es el tiempo inicial que se considera para calcular la aceleración y tf es el tiempo final. ∆v es el cambio en la velocidad y ∆t es el intervalo de tiempo en el que ocurre tal cambio.
            
En caída libre, todos los objetos descienden con la misma aceleración, de modo que podemos enunciar el postulado de Galileo de que todos los cuerpos caen al mismo tiempo o con la misma rapidez de la siguiente forma: todos los cuerpos caen con la misma aceleración. Tal aceleración se conoce como aceleración de la gravedad, se denota con la letra g, y en cualquier punto cercano a la superficie de nuestro planeta es aproximadamente:
            g = 9.8 m/s2

        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        La aceleración y la distancia recorrida
      </div>
      <div class="accordion_body">
        <textarea readonly="true">La distancia recorrida durante la caída libre es directamente proporcional al cuadrado del tiempo y la relación está representada por una línea recta que pasa por el origen, por lo que podemos escribir:
            d = ct2
            
¿Cuál es el valor de la constante de proporcionalidad? Calcúlala. Si analizas, podrás darte cuenta de que c = 1/2 g, de modo que podemos escribir la ecuación anterior como:
            d = 1/2 gt2
            
Con esta relación podemos calcular la distancia que recorre un objeto en caída libre para cualquier tiempo. Y ello no es sino un caso particular de una ecuación general para el movimiento con aceleración constante, es decir, para el movimiento uniformemente acelerado:
            d = 1/2 at2
            
donde a es la magnitud de la aceleración constante. Las ecuaciones anteriores se refieren a objetos que inician su movimiento en reposo, es decir, cuando su rapidez inicial es cero. Una ecuación más general que incluye rapidez inicial distinta de cero es:
            d = vi*t + 1/2 at2
            
Igualmente, podemos encontrar una expresión que relaciona la velocidad final, la velocidad inicial, la aceleración y la distancia, sin el tiempo como variable:
            vf2= vi2+ 2 ad

        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Gráficas aceleración-tiempo
      </div>
      <div class="accordion_body">
        <textarea readonly="true">La gráfica distancia-tiempo es una curva, en realidad corresponde a una figura geométrica conocida como parábola, que estudiarás en tercero de secundaria. Esta figura se asocia con ecuaciones de segundo grado, es decir, con variables elevadas al cuadrado, como la que relaciona la distancia y el tiempo; la segunda gráfica es una recta inclinada que señala que el cambio de rapidez es constante con el tiempo, y la tercera es una recta horizontal, lo que significa que la aceleración no cambia al pasar el tiempo.
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
        <div class="accordion_header">
            Aceleración y desaceleración
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Hasta aquí hemos considerado el caso en que la velocidad aumenta, pero, ¿qué sucede cuando la velocidad disminuye? En estos casos, cotidianamente decimos que hay una desaceleración o que el objeto en movimiento está frenando. Por ejemplo, si un automóvil viaja en línea recta y reduce su velocidad de 60 km/h a 20 km/h en 8 s. El cambio en la rapidez es 20 km/h – 60 km/h = –40 km/h, que equivale a –11.11 m/s (puedes hacer esta conversión como ejercicio); así la aceleración será:
            
a = ∆v/∆t = (−11.11 m/s)/8 s =( –1.39 m/s)/(m/1)= (–1.39 m × 1)/s × s = −1.39 m/s2
            
El signo del resultado indica que el automóvil está frenando. En realidad el auto cambia su velocidad y, por tanto, tiene una aceleración (aunque negativa).
            
  </textarea>
        </div>
      </div>
  
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
     <div align= "center">
      <a href="/actividades-F4"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosf0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->