<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 5: La descripción de las fuerzas en el entorno</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        La fuerza: resultado de las interacciones por contacto y a distancia, y representación con vectores
      </div>
      <div class="accordion_body">
        <textarea readonly="true">La palabra “fuerza” es utilizada en distintas situaciones cotidianas, por ejemplo: Gerardo dice que debe asear la casa “a fuerza”, porque preferiría ver el futbol; Angélica afirma que ella y Enrique están unidos por la “fuerza” del amor, pero Jimena opina que es más bien por la “fuerza” de la costumbre, y muchos dicen que doña Agustina es atemorizante porque tiene un carácter fuerte. Esta palabra también se usa para describir lo que se hace en relación con los objetos: el hombre que puede cargar bultos de 100 kg merece que lo llamemos “fuerte”; y podemos romper algo, si lo golpeamos, empujamos, jalamos o lanzamos con la fuerza suficiente. En Física, este término se utiliza de un modo especial, pero ¿crees que se relacione con alguno de los usos anteriormente mencionados?
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Interacciones entre los objetos
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Podemos afirmar que existe una interacción cuando algo cambia. Ejemplos de ello son: un conductor empuja su auto descompuesto para moverlo; el agua de una olla puesta al fuego hierve; las ramas de los árboles se mueven cuando hay viento; un globo inflado con helio se eleva; un florero cae al suelo y se rompe. ¿Se te ocurren otros ejemplos? ¿Es necesario que los objetos estén en contacto para que interactúen?
            
En Física se distinguen dos tipos de interacciones: por contacto y a distancia. Las primeras, también llamadas mecánicas, ocurren cuando los cuerpos que interactúan entran en contacto físico: cuando se jala, arrastra, empuja, sopla, etcétera, un cuerpo. En las interacciones a distancia no es necesario que los objetos involucrados estén en contacto. En realidad, todos los objetos interactúan, es decir, se afectan mutuamente. Si jalas algo sientes un “jalón” del objeto; cuando dos autos chocan, ambos cambian su estado de movimiento y su forma: se detienen o cambian su velocidad, la lámina se comprime, el parabrisas se estrella, etcétera.
            
Es evidente quién o qué ocasiona las interacciones por contacto, en cambio, en las interacciones a distancia, si no contamos con los conocimientos previos al respecto, no siempre es fácil saber quién o qué genera el cambio en los objetos. Un alfiler se mueve si le acercamos un imán; este es un ejemplo de interacción magnética que se realiza a distancia; mientras que el papel y el globo frotados muestran un caso de interacción electrostática a distancia. 
 
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        El concepto de fuerza como descriptor de las interacciones
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Si lo piensas bien, podrás darte cuenta de que en todas las interacciones intervienen, por lo menos, dos objetos. En Física esta acción entre los objetos se conoce con el nombre de fuerza. Una fuerza tiene la capacidad de cambiar la forma, el tamaño o el movimiento del objeto sobre el cual se aplica. Por ejemplo, cuando comprimes una pelota puedes modificar su forma; si aprietas suficiente quizá logres desinflarla y cambiar su tamaño, y con un golpe podrás modificar su movimiento. Medir la magnitud de una interacción por su efecto en los objetos nos indica qué tan grande o pequeña es la fuerza aplicada. En otras palabras, la magnitud de una fuerza está estrechamente relacionada con los cambios (en el movimiento o la forma) que provoca en los objetos sobre los que se ejerce: el cambio es el efecto de aplicar una fuerza, y la fuerza es una medida de la interacción. Así que la relación entre fuerza e interacción es tan estrecha que describir una de ellas nos ayuda a conocer la otra.  
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
        <div class="accordion_header">
            La fuerza, una magnitud vectorial
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Imagina que eres el delantero estrella de tu equipo de futbol y estás por cobrar el penalti que significa la última oportunidad de ganar el partido. Dejando a un lado tu estado de ánimo, tu aplomo y la habilidad del portero, ¿de qué depende que logres meter el gol? La respuesta se refiere propiamente a la física involucrada en esta acción: de la fuerza.
            
Si pateas con mucha fuerza el balón, éste se moverá con gran rapidez y le resultará más difícil al portero detenerlo o desviarlo; en cambio, si pateas el balón con poca fuerza, será menor la rapidez con la que sale disparado y el portero podría detenerlo más fácilmente. Este “tamaño” o intensidad de la fuerza (lo que queremos decir con las expresiones “mucha” o “poca”, “grande” o “pequeña”) se llama magnitud y puede expresarse con una cantidad numérica. Por otro lado, es fácil imaginar la dirección que tendrá el balón: si lo pateas a la derecha, saldrá disparado a la derecha; si lo pateas hacia la izquierda, esa será la dirección que tendrá, y está claro que tan importante será la magnitud de la fuerza con que debes patear al balón como la dirección que le debes imprimir.
            
Una cantidad que se especifica con un simple dato numérico y una unidad, por ejemplo, la temperatura o la distancia, se conoce como escalar, y una cantidad para la cual además es necesario especificar su dirección y su sentido se llama vector.
            
Las cantidades vectoriales o vectores se representan gráficamente con flechas cuya longitud, en una escala adecuada, es directamente proporcional a la magnitud de la cantidad en cuestión, y su dirección y su sentido coinciden con la dirección y el sentido de la flecha.
            
La fuerza es un vector porque tiene magnitud y dirección, y es posible representarla gráficamente, lo cual es muy útil para analizar su efecto en el movimiento del cuerpo sobre el cual actúa.
       
  </textarea>
        </div>
      </div>

  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
     <div align= "center">
      <a href="/actividades-F5"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosf0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->