<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<br>
<br>
<br>

<center><strong><h1>Tema 6: Fuerza resultante</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        Suma de fuerzas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Una fuerza puede deformar un cuerpo o acelerarlo y, como consecuencia, cambiar su estado de movimiento. El concepto de fuerza, como hemos visto, se usa en Física para describir la interacción entre dos cuerpos pero es común que un cuerpo interactúe con más de un cuerpo a la vez; cuando varias fuerzas actúan sobre un mismo objeto se dice que forman un sistema de fuerzas.
            
¿Cómo podemos saber el efecto que un sistema de fuerzas tendrá sobre un cuerpo en particular? Podemos averiguarlo si sumamos las fuerzas teniendo en cuenta sus respectivas magnitudes y direcciones. Esto se logra aprovechando el hecho de que la fuerza es un vector y representándola por una flecha dibujada en un diagrama adecuado correspondiente. 
         
La longitud de cada flecha representa, en una escala adecuada, la magnitud de la fuerza correspondiente. Si lo piensas un poco, podrás darte cuenta de que un hombre de una gran fortaleza física, con una cuerda lo suficientemente resistente, podría lograr el mismo efecto que tres chicos juntos sobre un coche, pero aplicando una sola fuerza; es decir, el efecto de esa única fuerza sería equivalente a las tres que aplican los chicos.
            
Podemos encontrar la magnitud y la dirección de esta fuerza equivalente sumando gráficamente los tres vectores. Para ello, dibujamos un diagrama; en el origen de un sistema de referencia colocamos el inicio de la flecha que representa a una de ellas (puede ser cualquiera), conservando siempre su tamaño y dirección original, y en la punta de ésta dibujamos la flecha que representa a otra, así hasta dibujarlas a todas. La flecha que se traza desde la cola de la primera hasta la punta de la última representa la fuerza resultante (FR).
            
Una vez que determinamos la fuerza resultante podemos apreciar mejor los efectos del sistema de fuerzas sobre el cuerpo.
            
Una fuerza es una magnitud que, como la masa, la rapidez o la distancia, tiene una unidad de medida; en el SI se le asigna como unidad el newton (N) —en honor a Isaac Newton—, que es una unidad derivada; después veremos qué unidades la componen. Para que te hagas una idea de la cantidad de fuerza que representa, ten en cuenta que 1 N es la fuerza necesaria para levantar verticalmente un objeto de aproximadamente 100 gramos (un vaso de vidrio, por ejemplo).
            
Cuando sobre un objeto en reposo actúan dos o más fuerzas en sentidos opuestos, puede suceder que el objeto no se mueva; esto ocurre si se anulan los efectos de las fuerzas, es decir, si la fuerza resultante es 0 N.
  
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Reposo
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Cuando un cuerpo se encuentra en reposo, es decir, sin movimiento, significa que la suma de las fuerzas que actúan sobre él es igual a cero: se anulan mutuamente. En este caso, se dice que todas las fuerzas que actúan sobre el cuerpo se encuentran en equilibrio. Mientras lees, un libro posiblemente está apoyado sobre tu pupitre o sobre una mesa horizontal. ¿Qué fuerzas actúan sobre él? Todos los objetos pesan y el peso es una fuerza; por tanto, sobre tu libro actúa por lo menos la fuerza de su propio peso. Entonces, ¿por qué no se mueve? Existe otra fuerza que actúa sobre el libro: la que ejerce la mesa. Ésta se llama fuerza normal y actúa en dirección perpendicular a la mesa; cuando la superficie es horizontal, la fuerza normal es opuesta al peso de tu libro y tiene exactamente la misma magnitud, por esta razón la fuerza resultante es cero y el libro permanece en reposo.
 
        </textarea>
      </div>
    </div>   
  </div>

  <style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
     <div align= "center">
      <a href="/actividades-F6"><button class="bt2" >Actividad</button></a>
      </div>	
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/contenidosf0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->