<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>


<center><strong><h1>Tema 1: ¿Qué es factorizar? </h1></strong></center>
<div class="wrapper">
   <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sSfO1CsKJ4g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </center> 

  </div>	
	


    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/contenidosm0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->