<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>


<center><strong><h1>Tema 7: Trinomio (forma x2+bx+c ) </h1></strong></center>
<div class="wrapper">
   <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UNEfUX8oNsE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </center> 
    <br>
 
    <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ND-UMsE-uPI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
      
      
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
     <div align= "center">
      <a href="/actividades-M7"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/contenidosm0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->