<section id="hero">
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>  
<br>
<br>
<br>
<center><strong><h1>Tema 1: La ciencia y la tecnología
    en el mundo actual</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        Relación entre la Química y la vida humana
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Aunque nunca antes hayas estudiado Química, seguramente tienes una idea acerca de las transformaciones que ocurren en ciertos materiales y sustancias. Este es precisamente el objeto de estudio de la Química: las sustancias, sus propiedades y sus transformaciones. Durante cientos de años, uno de los objetivos centrales del trabajo de los científicos ha sido desarrollar materiales que faciliten la existencia del ser humano. En particular, los químicos han producido o sintetizado sustancias antes desconocidas, muchas de las cuales han tenido un gran impacto en nuestras vidas, mediante la producción de plásticos y fertilizantes, y el desarrollo de medicamentos para tratar la tuberculosis, el cáncer y el sida. Los conocimientos de químicos e ingenieros químicos también han logrado crear métodos para detectar e identificar múltiples sustancias, desde contaminantes en el aire que respiramos hasta sustancias benéficas o dañinas presentes en nuestro cuerpo. ¿Cómo sería tu vida sin la presencia de estas sustancias o materiales?
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        La Química y las necesidades humanas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">El desarrollo y la aplicación del conocimiento científico y tecnológico ha dado lugar a cambios radicales en la forma y calidad de vida de los habitantes de nuestro planeta. En los últimos 200 años, los seres humanos hemos sido testigos de transformaciones revolucionarias en diversas áreas: agricultura, manufactura, servicios sanitarios y de salud, medios de transporte, sistemas de almacenamiento, procesamiento y comunicación de la información, biotecnología e industria de la guerra. Muchos de estos cambios no habrían sido posibles sin los logros de quienes se han interesado en descubrir el secreto de la síntesis y transformación de sustancias.

El avance del conocimiento y los productos de la Química se reflejan en la producción masiva de fertilizantes, plaguicidas, medicamentos, telas, productos sanitarios y materiales plásticos, por citar algunos ejemplos. Estos cambios han ocurrido a tal velocidad que los materiales, aparatos y medicamentos a los que tienes acceso son muy distintos a los que tuvieron a su alcance tus abuelos.
          
El conocimiento científico y las aplicaciones tecnológicas nos han proporcionado herramientas extraordinarias para cambiar el mundo que nos rodea, y de esta manera mejorar el nivel y la calidad de vida de buena parte de los habitantes del planeta. Sin embargo, los beneficios que proporciona cualquier avance científico o tecnológico vienen acompañados de un tipo de riesgo o costo. Dado el papel central que la ciencia y la tecnología desempeñan en la sociedad moderna, es de vital importancia que los habitantes del planeta adquieran los conocimientos necesarios para entender las ventajas y desventajas de sus aplicaciones. Sólo así podremos tomar decisiones informadas que beneficien a la mayoría.
          
Por ejemplo, durante más de 50 años los fabricantes de gasolina para automóviles le añadieron una sustancia con plomo (tetraetilo de plomo) como aditivo porque descubrieron que esta sustancia mejoraba el funcionamiento del motor facilitando la combustión de la gasolina. Desafortunadamente, el plomo en la gasolina escapaba a la atmósfera durante la combustión creando serios problemas ambientales, porque el plomo es una sustancia altamente tóxica; por eso en la actualidad la mayoría de las gasolinas que se venden no contienen plomo. Como puedes ver, los beneficios en el uso del tetraetilo de plomo vinieron acompañados de costos en la calidad del aire que respiramos y de efectos nocivos para la salud.
          
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Percepción popular ante la Química
      </div>
      <div class="accordion_body">
        <textarea readonly="true">A diferencia del conocimiento científico, el desarrollo tecnológico suele tener efectos inmediatos y directos en la sociedad, pues se encamina a resolver problemas prácticos y atender necesidades humanas. La ciencia incide en la sociedad de modo más sutil; por ejemplo, al cuestionar o estimular nuevas formas de pensar (recuerda el impacto que las ideas de Galileo y Newton tuvieron en su época). En ambos casos, tanto las nuevas ideas como los nuevos productos pueden crear problemas o conflictos.

Quizá sea porque la Química es una ciencia-tecnología o porque sus áreas de aplicación son diversas, los costos y beneficios de sus actividades y productos se perciben de manera directa. Como resultado de esto, muchas personas tienen sentimientos encontrados hacia la Química, pues aunque reconocen sus beneficios, sienten temor por las consecuencias negativas del uso de algunos de sus productos en la sociedad, el ambiente y la salud, esto a pesar de que en general la industria química lleva a cabo estudios del impacto de sus productos en el ambiente y la salud humana antes de comercializarlos.
          
Todo desarrollo científico y tecnológico conlleva costos y beneficios. Por ejemplo, las técnicas de análisis químico que en la actualidad permiten analizar el adn de los humanos y detectar posibles enfermedades, en el futuro podrían emplearse para discriminar a la gente con base en su constitución genética. La realidad es que el conocimiento científico y el desarrollo tecnológico no pueden calificarse como buenos o malos sin tener en cuenta cómo se usan. Es responsabilidad de los individuos y de las comunidades decidir cómo y en qué circunstancias utilizarlos.
          
Las opiniones y actitudes de las personas en torno a los productos de la ciencia y la tecnología están fuertemente influidas por sus experiencias personales, así como por la información que se recibe de los diversos medios de comunicación. Por desgracia, con frecuencia la información que leemos o escuchamos se refiere a aspectos negativos de ciertas actividades científicas y tecnológicas. Es el caso de noticias sobre explosiones en fábricas de productos químicos, medicamentos que producen reacciones secundarias dañinas o industrias químicas que contaminan el ambiente. Aunque es innegable que crear nuevas sustancias puede ser peligroso y causar efectos secundarios no deseados, nuestros juicios se deben basar en evaluaciones que consideren tanto costos como beneficios. Asimismo, es de central importancia aprender a juzgar la veracidad de la información que recibimos.
          
El conocimiento que desarrollan los químicos ha transformado de manera radical las sociedades humanas y es muy probable que lo siga haciendo por muchos años. Por ejemplo, hoy en día algunos más limpias y renovables; otros desarrollan materiales sintéticos inteligentes que modifican sus propiedades según las condiciones ambientales; también hay quienes buscan crear medicinas para el tratamiento de enfermedades como el sida y el síndrome de Alzheimer, mientras otros buscan métodos para degradar plásticos o capturar sustancias como el dióxido de carbono que producen las distintas industrias. Dado el papel central que la Química tiene y tendrá en nuestras vidas, es imperativo que todos adquiramos una cultura química básica que nos permita evaluar de manera objetiva la información que recibimos, así como tomar decisiones responsables que maximicen los beneficios y reduzcan los costos de transformar la Naturaleza.
          
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
      <div class="accordion_header">
        Química asombrosa: Productos a partir del reúso del unicel
      </div>
      <div class="accordion_body">
        <textarea readonly="true">A partir de poliestireno expandido (unicel) se obtuvieron un recubrimiento (o barniz) y un adhesivo para papel, cartón y madera, de bajo costo y amigables con el ambiente. El unicel se usa en la fabricación de recipientes aislantes útiles para empacar o contener alimentos, así como en la industria de la construcción para fabricar paneles y barreras térmicas o acústicas.

A escala mundial, estos materiales constituyen una fuente importante de residuos. Se trata de la llamada “basura blanca”, que puede tardar más de 400 años en degradarse. Este fenómeno hace que su acumulación en basureros y cuerpos de agua produzca graves daños ambientales. En la Ciudad de México, diariamente se producen en promedio 12 000 toneladas de desechos sólidos y de éstos, sólo 12% o 15% se recicla.                                   
          
La generación de residuos sólidos va en aumento. Según el INEGI, en 2005 se produjeron 1 409000 toneladas de plástico y en 2006 la cifra ascendió a 2013000 toneladas. El poliestireno expandido (unicel) y otros plásticos tienen como destino final los rellenos sanitarios.
          
Ante ese panorama, varios investigadores se han dado a la tarea de buscar alternativas sencillas y económicas para reusar estos materiales que tardan en degradarse o producir nuevos que no dañen al ambiente. Fue así como hallaron que las disoluciones de poliestireno reusado tienen diferentes aplicaciones. Una disolución a bajas concentraciones se convierte en un recubrimiento común o un barniz para papel, cartón o madera; se trata de un sellador que puede ser aplicado con brocha o aerosol.
          
El proceso permite la recuperación del material a partir de un método con poco o nulo impacto en el ambiente. Por ello, esta alternativa se podría reproducir en industrias dedicadas a elaborar productos que contribuyan a disminuir el problema de contaminación por unicel, material que por desgracia no ha sido reusado y se acumula en detrimento del ambiente.
          
        </textarea>
      </div>
    </div>
  
  </div>	
	
<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
<div align= "center">
      <a href="/actividades-Q1"><button class="bt2" >Actividad</button></a>
      </div>

    <br>
    <br>
    <br>
    <a href="/contenidosq0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->