<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 2: Identificación de las propiedades
    físicas de los materiales</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        ¿Qué percibimos de los materiales?
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Mira a tu alrededor por unos segundos y observa los distintos materiales que te rodean. Entre ellos de seguro encontrarás vidrio, cemento, madera, diferentes tipos de plástico, acero, agua, variedad de fibras como algodón, lana y poliéster, así como materiales cuyo nombre tal vez desconozcas. Sin embargo, estos son sólo algunos materiales que puedes ver, porque hay otros que no ves como el aire, que contiene nitrógeno y oxígeno, entre otros componentes. Si alguien cerca de ti bebe café o chocolate caliente, ni siquiera te imaginas que tan sólo en el aroma que percibes de estas bebidas se han detectado cerca de ¡100 sustancias diferentes! Ante tal diversidad, ¿cómo sabemos que las sustancias que detectamos son realmente diferentes o si se trata de la misma? ¿Cómo distinguimos una sustancia de otra? La clave está en que toda sustancia tiene al menos una propiedad que la hace diferente de las demás. Estas propiedades son determinantes para separar, clasificar o identificar las sustancias.
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Propiedades cualitativas
      </div>
      <div class="accordion_body">
        
        <textarea readonly="true">Propiedades como el color y la textura pueden utilizarse para clasificar plásticos en diferentes grupos. Este tipo de propiedades se denominan propiedades físicas cualitativas porque resulta difícil medirlas o asignarles un valor numérico. Es decir, no medimos colores, olores o sabores, sólo reconocemos que hay diferentes tipos de ellos. En la vida diaria distinguimos las sustancias con base en este tipo de propiedades porque se detectan de manera directa mediante los sentidos.
            
Si no percibiéramos las propiedades físicas cualitativas de las sustancias, difícilmente podríamos sobrevivir en nuestro planeta. Imagina qué pasaría si fuéramos incapaces de distinguir entre agua y gasolina por su color, olor y sabor, o entre el perfume de una rosa y el aroma de la comida podrida. Sin embargo, también sabemos que nuestros sentidos no son infalibles y que en ocasiones nos engañan.
            
En general, las personas pueden percibir las cosas de distinto modo y de acuerdo con las condiciones físicas del medio. Por ejemplo, el color que percibimos de un objeto depende del tipo y la intensidad de la luz que lo ilumina en determinado momento. Nuestra capacidad para distinguir olores y sabores es limitada, y en ocasiones nos resulta difícil reconocer diferentes sustancias si tienen propiedades parecidas o una de ellas es de sabor u olor muy intenso.
            
Estudios sobre la capacidad olfatoria en las personas indican que hay quienes son hasta mil veces más sensitivas que otras a la presencia de ciertos olores. Por ejemplo, muchos disfrutan del olor de una flor o de un cierto perfume, mientras que ese mismo olor puede causar dolor de cabeza o irritación nasal a otras personas. Estas diferencias se deben, en parte, a cuestiones de edad, género, alergias, enfermedades o hábitos personales (como fumar, que afecta el olfato).
            
Aunque resulta difícil asignar un valor numérico a las propiedades cualitativas de una sustancia, es posible establecer escalas que faciliten las comparaciones. Por ejemplo, cuando nos referimos a la transparencia de los materiales es común clasificarlos dependiendo de su capacidad para dejar pasar la luz sin dispersarla, desde transparentes a traslúcidos y opacos.
            
Por otro lado, la dureza de una sustancia es su cualidad de resistencia a ser rayada, deformada o comprimida. Para establecer una escala de dureza se puede elegir un conjunto de sustancias conocidas, frotar una contra otra para determinar cuál causa rayones más profundos y ordenarlas de acuerdo con esta característica. Para clasificar otras sustancias bastaría determinar su capacidad para rayar o no a los materiales con los que se construyó una primera escala.
            
La comparación de otras propiedades de las sustancias, como su lustre o brillo, que depende de su capacidad para reflejar la luz; su maleabilidad, o la medida de qué tan fácil se puede deformar una sustancia en forma de planchas o láminas, o su inflamabilidad, que determina qué tan fácil se encienden o arden éstas al calentarlas, también se facilita estableciendo gradaciones o escalas.
          
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Estados de agregación
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Una propiedad física cualitativa distintiva de las sustancias es su estado de agregación. La misma sustancia puede existir en estado sólido, líquido o gaseoso, dependiendo de las condiciones de temperatura y presión a las que se encuentre. Como aprendiste en Ciencias 2, el agua la encontramos como hielo (sólido) a nivel del mar a temperaturas menores a 0 °C; como líquido a temperaturas entre 0 °C y 100 °C, y como gas (vapor de agua) a temperaturas mayores a 100 °C.

Como el agua, muchas sustancias cambian de estado al variar la temperatura o la presión; durante estos cambios la naturaleza química de las sustancias no se modifica, lo que resulta difícil de creer es porque la sustancia parece diferente a simple vista (compara el agua líquida con el hielo o el vapor de agua). Sin embargo, una prueba para saber si se trata de la misma sustancia es que podemos cambiar de un estado a otro cuantas veces queramos sólo con modificar la presión o la temperatura. Cambios como estos, en los que no se altera la composición química de las sustancias involucradas, se denominan cambios físicos.
            
Ciertas sustancias experimentan cambios químicos cuando se calientan o varía la presión, por lo que no es posible observar su cambio de estado. Algunas reaccionan con el oxígeno o el dióxido de carbono presentes en el aire al calentarlas para generar nuevas sustancias antes de cambiar de estado. En estos casos es posible lograr el cambio de estado si éste se realiza en ausencia de aire. Seguramente habrás notado cómo el azúcar se oscurece al calentarse y fundirse. Esto se debe a que experimenta una transformación química, y por ello es imposible recuperar la sustancia original con sólo cambiar la presión o la temperatura.
            
Las propiedades de los diferentes estados de agregación de las sustancias se explican mediante el modelo cinético de partículas, según el cual todas las sustancias están compuestas de pequeñas partículas en constante movimiento. A altas temperaturas las partículas que constituyen una sustancia se mueven a gran velocidad, lo que las mantiene separadas unas de otras; esto explica las propiedades de las sustancias en estado gas.
            
Al bajar la temperatura disminuye la velocidad de las partículas y las fuerzas de atracción entre ellas aumentan para hacer que se agrupen y se formen las gotas de líquido. A temperaturas aún más bajas, las partículas se mueven muy lento y las fuerzas de atracción son aún mayores por lo que impiden que se trasladen de un lugar a otro, formando así un sólido.
            
Pero si el modelo cinético de partículas es correcto, ¿cómo explicamos que diferentes sustancias, a la misma temperatura y presión, no se encuentren en el mismo estado de agregación? Por ejemplo, a temperatura ambiente el agua es líquida, pero el hierro es sólido. Para explicarlo se asume que, dado que las partículas de agua tienen una composición y estructura diferentes a las del hierro, las fuerzas de atracción entre las partículas deben ser distintas. Si la interacción entre las partículas de hierro es mayor que la fuerza entre las del agua, es de esperar que haya que elevar la temperatura aún más para que el hierro se transforme en líquido, y eso es precisamente lo que se observa cuando se calientan a la vez muestras de hierro y de agua.
              
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
      <div class="accordion_header">
        Propiedades cuantitativas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Las sustancias químicas también poseen propiedades físicas cuantitativas que se miden y expresan mediante cantidades, como su masa, densidad, volumen, temperatura de ebullición y solubilidad (máxima cantidad de una sustancia que se disuelve en un disolvente dado). Este tipo de propiedades son de gran utilidad para identificarlas o diferenciarlas sin ambigüedades, y su determinación requiere mediciones precisas con instrumentos adecuados y siguiendo procedimientos sistemáticos.

Las propiedades cuantitativas se dividen en los siguientes grupos:
            
♥ Extensivas: su valor depende de la cantidad de sustancia analizada. Por ejemplo, la masa y el volumen de una sustancia son extensivas, porque su valor variará según la cantidad de muestra analizada.
            
♥ Intensivas: su valor es independiente de la cantidad de sustancia analizada. Por ejemplo, la temperatura de ebullición del agua a nivel del mar siempre es 100 °C, sin importar si se hierve 1 o 10 litros. Otras propiedades intensivas son la densidad y la solubilidad.
            
          
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_5">
        <div class="accordion_header">
          Propiedades extensivas
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Dos de las propiedades extensivas más importantes de un objeto o una muestra de sustancia son la masa y el volumen.

La masa y el volumen, como otras propiedades extensivas, no permiten distinguir una sustancia de otra, porque su valor cambia dependiendo del tamaño, objeto o muestra que se tenga. Por ello, es común que nos equivoquemos al predecir a simple vista la masa o el volumen de diferentes objetos. Por ejemplo, si observas un objeto sólido muy voluminoso, es probable que supongas que tiene mucha masa (es decir, que es difícil empujarlo o cargarlo). Sin embargo, si el objeto es de un material plástico como el unicel (poliestireno), su masa es relativamente pequeña comparada con la de un objeto de vidrio o hierro del mismo volumen. También es común equivocarse si al observar un objeto completamente sólido en el exterior se supone que su masa es elevada, sin considerar la posibilidad de que haya huecos en el interior, por lo que su masa será menor de lo que se esperaba. Para ampliar la capacidad de nuestros sentidos se han diseñado instrumentos de medición específicos que determinan con precisión la masa y el volumen de los objetos y materiales en nuestro alrededor.
            
Una manera cualitativa de distinguir objetos con masa muy distinta es comparando el esfuerzo necesario para cargarlos. Sin embargo, esta no es una forma precisa de medir su masa. Para hacerlo se han desarrollado instrumentos, como las balanzas de platos y las balanzas granatarias.
            
La masa de un cuerpo se mide comparando el peso del objeto con el peso de cuerpos de masas conocidas, denominados pesas. Diferentes tipos de balanzas tienen distintas sensibilidades para determinar la masa. Un instrumento diseñado para medir objetos de varios kilogramos (kg) no será de mucha utilidad para medir la masa de muestras de unos cuantos miligramos (mg).
            
Al respecto, es probable que en los laboratorios de tu escuela haya balanzas granatarias, y dado que las balanzas son instrumentos de medición costosos, te recomendamos manejarlas con cuidado. No coloques directamente sobre el plato de la balanza los objetos o sustancias cuya masa requieres determinar, usa un vidrio de reloj, un vaso de precipitados o un pedazo de papel para contenerlos.
            
Para medir el volumen de objetos o sustancias, presta atención a su forma y estado de agregación. Para líquidos utiliza instrumentos graduados como vasos de precipitados, matraces y probetas, que indican el volumen del líquido en una escala. Por lo regular, esta escala se expresa en mililitros (ml) de líquido contenido. Si trabajamos con gases, podemos colocarlos dentro de un recipiente con líquido y medir el volumen de líquido que desplazan. Si se trata de cuerpos sólidos con forma geométrica regular, podemos emplear una regla o cinta métrica para medir sus dimensiones (largo, ancho y altura) y con base en esa información calcular el volumen mediante la fórmula matemática adecuada. Si el cuerpo sólido es de forma irregular, su volumen puede calcularse sumergiéndolo en agua y determinando el volumen de líquido que desplaza.
               
          </textarea>
        </div>
    </div>
    <div class="accordion_wrap accordion_6">
        <div class="accordion_header">
            Propiedades intensivas
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Hay una gran variedad de propiedades intensivas útiles para diferenciar las sustancias: temperaturas de ebullición y fusión, densidad, solubilidad y viscosidad, entre otras. Algunas de estas propiedades se miden de manera directa con instrumentos diseñados para tal propósito; por ejemplo, la temperatura de fusión y la temperatura de ebullición se miden con termómetros. Los termómetros indican la temperatura de un sistema, ya sea en una escala graduada o de manera digital a través de una pantalla. Estos instrumentos son indispensables en el laboratorio de Química y en la vida cotidiana, debido a que no es posible determinar la temperatura de las cosas sólo con nuestros sentidos. Por ejemplo, haz el siguiente experimento: sumerge una mano en un recipiente con agua fría y la otra en un recipiente con agua caliente. Déjalas ahí por unos minutos y, cuando las saques, sumérgelas en un recipiente con agua a temperatura ambiente. ¿Sientes el agua igual de fría o caliente en cada mano? ¿Cómo lo explicas?

La temperatura de fusión y ebullición de una sustancia puede determinarse mediante diferentes métodos. Considera el siguiente procedimiento para medir estas propiedades intensivas en el caso del agua. Si calientas en la estufa un recipiente con hielo a la presión atmosférica a nivel del mar, la temperatura del hielo aumenta. Cuando el hielo comienza a fundirse, la temperatura se mantiene constante y se identifica como la temperatura o el punto de fusión de la sustancia.  Una vez que el hielo se funde completamente, la temperatura aumenta si seguimos calentando. Cuando el agua líquida comienza a hervir, la temperatura otra vez se mantiene constante hasta que todo el líquido se transforma en vapor. Esta temperatura se identifica como la temperatura o el punto de ebullición. 
            
Las temperaturas de fusión y ebullición de las sustancias dependen de la presión atmosférica a la que se encuentran. Entre mayor es la presión, mayor será la temperatura necesaria para que hierva la sustancia. El efecto de la presión sobre la temperatura de fusión depende del tipo de material del que se trate, y en general, a mayor presión más alta es la temperatura de fusión.
            
En ocasiones, determinar una propiedad intensiva requiere medir propiedades extensivas por separado. Un ejemplo típico es la densidad, definida como la masa por unidad de volumen de una sustancia.
            
Esta propiedad intensiva, que por lo común se representa con la letra griega ρ, se calcula dividiendo la masa (m) de la muestra entre su volumen (V): ρ = m/V. En el Sistema Internacional (si) las unidades de la densidad son kg/m3, pero también suelen emplearse g/ml o g/cm3
            
A diferencia de las propiedades extensivas, cuyo valor puede variar de una muestra a otra de la misma sustancia, las propiedades intensivas son características de una sustancia específica, por lo que resultan de gran utilidad en su análisis químico. La temperatura de fusión del agua a la presión atmosférica a nivel del mar es siempre 0 °C, sin importar si se tienen 1 ml, 1 l o 1000 l de agua. La densidad de todas estas muestras será la misma, aunque su valor dependerá de las condiciones en que se mida.
            
Dado que el valor de las propiedades intensivas de las sustancias, como densidad, solubilidad y viscosidad dependen de la temperatura y la presión, se suele medir en condiciones estándar, es decir, a una presión equivalente a la que ejerce la atmósfera al nivel del mar (definida como una atmósfera de presión o 1 atm) y una temperatura que normalmente se elige como 0 °C, 20 °C o 25 °C según la propiedad de que se trate. Por ejemplo, la densidad del agua a 1 atm y 4 °C es 1.0 g/ml y su viscosidad a 1 atm y 20 °C es 1.0 centipoise o 1.0 cP. La solubilidad del cloruro de sodio (NaCl) en agua a 1 atm y 25 °C es 0.359 g/ml.

          </textarea>
        </div>
      </div>
  
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
<div align= "center">
      <a href="/actividades-Q2"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosq0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->