<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 3: Experimentación con mezclas</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        ¿Una o muchas sustancias?
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Si alguien te preguntara de qué está hecho el jugo de naranja, es posible que respondas que de agua y otras sustancias. Y si luego te pregunta de qué está hecha tu casa, tal vez menciones que de una mezcla de ladrillos y otros materiales. Ahora piensa en productos que provee la naturaleza y que consumimos, como el café o la leche. ¿De qué están hechos? La mayoría son mezclas que contienen no cientos, sino incluso miles de distintas sustancias. La realidad es que la mayoría de los materiales en la naturaleza son mezclas de muchas sustancias. Por ejemplo, el componente principal del agua de un río es ciertamente agua, pero mezclada con una gran variedad de otras sustancias. Otro ejemplo es la sal que se extrae del mar, la cual contiene una alta proporción de cloruro de sodio, además de otros componentes. Dada esta realidad, es importante distinguir diferentes mezclas y comprender cómo sus propiedades cambian según su tipo y la cantidad relativa de sustancias presentes. ¿De qué están hechos los productos que se preparan a partir de las sustancias que sintetizan los químicos, como los refrescos?, ¿cuáles son sus componentes?
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Homogéneas y heterogéneas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">¿Cuál es la diferencia entre material, mezcla y sustancia? En la vida diaria es común usar estos términos de manera indistinta para referirse a aquello de lo que están constituidos los objetos que nos rodean. Sin embargo, la manera de emplear estos conceptos puede resultar confusa cuando se trata de diferenciar una cosa de otra. Por ello, en Química, como en otras ciencias, es importante definir los términos con claridad y usarlos de manera consistente.

En general, en Química el término materiales se refiere a las diferentes formas de materia que componen las cosas, ya sea madera, hierro, agua o acero. Aunque no ha sido fácil, después de cientos de años de trabajo e innumerables investigaciones, los químicos han descubierto que es muy útil clasificar los materiales en dos grandes grupos: sustancias y mezclas.
            
Las sustancias son materiales “puros” que no pueden separarse en componentes más simples por medios físicos, esto es, sin alterar su composición química; por ejemplo, el hierro, el carbón, el oxígeno, el cloruro de sodio y el agua. Las mezclas, por su parte, son materiales que se separan mediante procedimientos físicos en al menos dos componentes diferentes. El acero, por ejemplo, es una mezcla de hierro con carbón y otras sustancias; el agua de mar es una mezcla cuyos principales componentes son agua y cloruro de sodio.
            
Muchas de las mezclas que encontramos en la naturaleza o que se producen en el laboratorio son fáciles de identificar a simple vista porque podemos distinguir dos o más de sus componentes. Si observas un trozo de madera, notarás que hay zonas de diferente color que corresponden a diferentes componentes (dos de los cuales son celulosa y lignina). Este tipo de mezclas se clasifican como mezclas heterogéneas. El granito que se usa en construcciones es otro ejemplo. Los materiales mencionados son mezclas heterogéneas sólidas; sin embargo, también hay mezclas heterogéneas líquidas, como el agua de mar, y mezclas heterogéneas gaseosas, como el humo de una chimenea.
            
En otras mezclas sus componentes están distribuidos uniformemente en todo el sistema y a simple vista es imposible distinguir uno de otro. El acero, el agua de la llave y el aire puro son ejemplos de mezclas homogéneas, por lo que, como puedes concluir, hay mezclas homogéneas sólidas (acero), líquidas (agua de la llave) y gaseosas (aire). Las mezclas homogéneas cuyas sustancias que la componen no se pueden distinguir, incluso con un microscopio, se denominan disoluciones.
            
En una disolución, el componente en mayor cantidad se llama disolvente, mientras que las otras sustancias se conocen como solutos. Los refrescos son disoluciones acuosas en las que el disolvente es el agua y el azúcar es uno de los principales solutos.

</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Combinando propiedades
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Las mezclas son materiales muy útiles porque sus propiedades pueden alterarse con relativa facilidad al cambiar la cantidad relativa (proporción) de sus diferentes componentes o añadiendo otros. En la fabricación de productos de uso práctico es común hacer mezclas tanto homogéneas como heterogéneas, porque ello nos permite generar nuevos materiales en los que se combinan las propiedades de las distintas sustancias. La fibra de vidrio, por ejemplo, es una mezcla heterogénea en la que se combinan la elasticidad de los plásticos con la resistencia del vidrio.

La fibra de vidrio es un ejemplo de un tipo de materiales conocidos como compósitos, que son mezclas heterogéneas sólidas de dos o más sustancias en las que se aprovechan las propiedades de cada componente. Estos componentes se pueden mezclar en diversas proporciones para obtener distintos tipos de materiales. Los compósitos se utilizan para fabricar desde la cubierta de aeroplanos hasta la coraza de barcos y tanques.
 
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
      <div class="accordion_header">
        Concentración y cambio de propiedades
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Las propiedades de las mezclas dependen de la cantidad relativa, o proporción, de sus distintos componentes. En las disoluciones esta proporción se determina calculando la concentración de los diferentes solutos. La concentración, por tanto, es una medida de la cantidad de soluto presente en cierta cantidad de disolución. Considera el siguiente ejemplo: imagina que tienes dos recipientes distintos, uno con 100 ml de agua y el otro con 400 ml de agua. Al primero le añades 10 ml de etanol (el alcohol presente en bebidas alcohólicas) y al segundo 20 ml de la misma sustancia. ¿Cuál es la concentración de etanol en cada mezcla? La respuesta dependerá de cómo se defina la concentración de las disoluciones. Por ejemplo, puede calcularse el porcentaje en volumen de soluto en la disolución. Este porcentaje en volumen, expresado como %v/v, es una medida del volumen de soluto por unidad de volumen de disolución y se calcula así:

% v/v = (volumen de soluto/volumen total de la disolución) × 100
            
Sustituyendo en la fórmula las cantidades de las mezclas alcohólicas, obtenemos:
            
Mezcla 1: % v/v = (10 ml/100 ml + 10 ml) × 100 = 9.09%
            
Mezcla 2: % v/v = (20 ml/400 ml + 20 ml) × 100 = 4.76%
            
Observa que aun cuando la primera mezcla tiene menos alcohol que la segunda (10 ml contra 20 ml), la concentración de alcohol es mayor en la mezcla 1 porque tiene más etanol en proporción a la cantidad de agua. Esto es, la mezcla 1 tiene más soluto por mililitro de disolución. Puedes concluir que no es igual hablar de la cantidad total de soluto en una mezcla que referirse a la concentración de dicha sustancia. ¿Cuál es la concentración de una tercera disolución con 15 ml de etanol y 300 ml de agua? ¿Cuál de las tres mezclas tiene más alcohol? ¿Cuál es la más concentrada?
            
La concentración de una disolución también puede expresarse en términos de porcentaje en masa (%m/m). Esa cantidad es una medida de la masa de soluto por unidad de masa de disolución y se calcula de la siguiente manera:
            
% m/m = (masa de soluto/masa total de la disolución) × 100
            
El cálculo del porcentaje en masa de una disolución requiere la medición o determinación de la masa del soluto y del disolvente. Si se trata de sustancias líquidas, es posible calcular su masa si conocemos su densidad (ρ) y volumen (V). Dado que la densidad es una medida de la masa por unidad de volumen (ρ = m/V), la masa de cada sustancia se calcula con la relación m = ρ × V.
            
Consideremos, por ejemplo, las mezclas 1 y 2 antes mencionadas. La densidad del agua a temperatura ambiente es 1 g/ml, mientras que la del etanol es 0.789 g/ml. Con esta información es posible calcular los porcentajes en masa de etanol en cada mezcla:
            
Mezcla 1: masa (agua) = 1 g/ml × 100 ml = 100 g y masa (etanol) = 0.789 g/ml × 10 ml = 7.89 g
            
% m/m = (7.89 g/100 g + 7.89 g) × 100 = 7.31 %
            
Mezcla 2: masa (agua) = 1 g/ml × 400 ml = 400 g y masa (etanol) = 0.789 g/ml × 20 ml = 15.8 g
            
% m/m = (15.8 g/400 g + 15.8 g) × 100 = 3.80 %
            
Si comparas estos resultados con los porcentajes en volumen antes calculados, notarás valores distintos; sin embargo, en ambos casos la concentración de etanol en la mezcla 1 es mayor que en la mezcla 2. Esto implica que los dos tipos de concentraciones permiten determinar cuál disolución es la más concentrada. ¿Qué supones que ocurriría si aplicas estas ideas para calcular el porcentaje en masa de la mezcla con 15 ml de etanol y 300 ml de agua?
            
Las propiedades intensivas de una disolución, como su densidad, viscosidad, punto de fusión y ebullición pueden cambiar considerablemente cuando se varía la concentración de los diferentes solutos de la mezcla; tales cambios tienen innumerables aplicaciones prácticas.
            
          
        </textarea>
      </div>
    </div>
  
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
<div align= "center">
      <a href="/actividades-Q3"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosq0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->