<section id="hero">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
<br>
<br>
<br>
<center><strong><h1>Tema 4: Métodos de separación de mezclas con base
    en las propiedades físicas de sus componentes</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        Métodos indispensables
      </div>
      <div class="accordion_body">
        <textarea readonly="true">La supervivencia humana depende en gran medida de nuestra capacidad para separar mezclas de diversos componentes. El agua que bebemos, por ejemplo, se somete a diversos procesos para separar sustancias nocivas para la salud. Los materiales plásticos que se utilizan en la fabricación de envolturas para conservar alimentos se elaboran con sustancias que se separan del petróleo, una mezcla heterogénea con cientos de componentes distintos. Muchas de las sustancias empleadas en la producción de medicamentos se extraen de hojas y flores de distintos tipos de plantas. Incluso dentro de nuestro cuerpo ocurren cientos de procesos que permiten, por ejemplo, separar el oxígeno del aire que respiramos y extraer nutrimentos de los alimentos que consumimos. La mayoría de estos métodos de separación de mezclas se basan en diferencias de las propiedades físicas de sus componentes, como densidad, punto de ebullición o solubilidad en distintos disolventes.
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Separación de mezclas heterogéneas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Dado que la mayoría de los materiales de nuestro entorno son mezclas, se han desarrollado diversas técnicas que facilitan la separación de sus componentes. Muchos de estos métodos se basan en diferencias en las propiedades físicas de las distintas sustancias y el tipo de método depende de si la mezcla es homogénea o heterogénea. Para separar mezclas heterogéneas los métodos más comunes son la filtración y la decantación.

La filtración logra separar sustancias con base en diferencias en el tamaño de las partículas de cada componente, y en general se usa para separar líquidos (partículas más pequeñas) de sólidos (partículas más grandes). La filtración es el método más utilizado para eliminar residuos sólidos del agua que bebes o con la que te bañas.
            
La decantación es un método que permite separar mezclas heterogéneas de sólidos que se depositan en el fondo de un líquido. La mezcla se deja reposar para que el sólido se sedimente, por densidad, en el fondo del recipiente, el cual se inclina con cuidado para verter el líquido sobrenadante en otro recipiente. Se recurre a este método de separación en la producción de bebidas como vino y cerveza, y para separar el líquido de residuos sólidos como cáscaras de frutas o granos.

</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Separación de mezclas homogéneas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Para separar mezclas homogéneas se recurre a métodos como la destilación, la extracción y la cromatografía. En todos ellos se aprovechan las diferencias con que las partículas de los diversos componentes se atraen entre sí.

Por ejemplo, las mezclas de distintos líquidos o de sólidos solubles en líquidos frecuentemente se separan por destilación. Esta técnica se basa en las diferencias entre los puntos de ebullición de los líquidos que componen la mezcla.
            
Así, la mezcla de líquidos a separar se calienta y los líquidos con menor punto de ebullición son los primeros en transformarse en gas. Este gas pasa por un refrigerante que los enfría y condensa, con lo que cada líquido se recupera por separado. La destilación de mezclas es indispensable en la preparación de bebidas alcohólicas y en la separación de los componentes del petróleo.
            
La extracción se basa en diferencias de solubilidad de las sustancias que componen una mezcla. Esta técnica se utiliza con frecuencia para extraer sustancias de productos naturales: el producto se sumerge en un disolvente que sólo extrae (disuelve) la sustancia o sustancias de interés, como se hace para extraer la cafeína de los granos del café. Los granos se sumergen en disolventes en los que la cafeína es soluble, como el dióxido de carbono a alta presión y temperatura, y para recuperar la cafeína, el disolvente se calienta para evaporarlo.
            
La cromatografía es uno de los métodos de separación más versátiles y tiene una gran variedad de aplicaciones. En investigación forense, por ejemplo, permite analizar tintas, toxinas y hasta la causa de un incendio. En la industria de alimentos es de utilidad para analizar colores y sabores artificiales. En cromatografía son necesarias dos fases para lograr la separación de sustancias. Una se denomina fase estacionaria (normalmente un sólido, como el papel) y la otra es la fase móvil (un líquido, como el agua, o un gas). La mezcla a separar se disuelve en la fase móvil y se hace pasar a través de la fase estacionaria. Como los componentes de la mezcla interactúan de manera distinta con la fase estacionaria, algunos se mueven más rápido que otros a través del sólido, con lo que las sustancias presentes se separan.
            
La cromatografía es una técnica de análisis muy flexible que permite utilizar diferentes materiales como fase estacionaria. En ciertos casos se emplea papel, y en otros, óxido de silicio colocado en una columna de vidrio o impregnado sobre una placa. En otros casos, como en la cromatografía de gases, se utilizan granos de un sólido impregnados con un líquido, los cuales se empacan en una columna muy larga y delgada. Esta técnica puede emplearse para separar los componentes de mezclas gaseosas, desde el aroma que emana de una taza de café hasta tu aliento.

</textarea>
      </div>
    </div>
    
  </div>
  	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
<div align= "center">
      <a href="/actividades-Q4"><button class="bt2" >Actividad</button></a>
      </div>	


    <br>
    <br>
    <br>
    <a href="/contenidosq0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->