<section id="hero">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script> 
<br>
<br>
<br>
<center><strong><h1>Tema 5: ¿Cómo saber si la muestra
    de una mezcla está más
    contaminada que otra?</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        Toma de decisiones relacionada con la contaminación de una mezcla
      </div>
      <div class="accordion_body">
        <textarea readonly="true">De las grandes ventajas de entender las propiedades físicas y químicas de las mezclas de nuestro entorno es que podemos detectar la presencia de posibles sustancias nocivas para la salud que afecten de manera negativa el ambiente. Gracias a estos conocimientos, en la actualidad se tienen instrumentos (como el cromatógrafo de gases) que facilitan la detección de contaminantes diversos del aire que respiramos y del agua. Estos dispositivos también permiten medir la concentración de contaminantes y comparar sus valores en distintos lugares o en diferentes horas del día. Este monitoreo ambiental se realiza en varias ciudades de nuestro país para tomar decisiones que ayuden a controlar la contaminación. La habilidad para detectar y cuantificar la concentración de sustancias nocivas en distintas mezclas es también importante en la industria alimentaria para asegurar la calidad de los alimentos. El gran reto en todas estas áreas es detectar y cuantificar la presencia de sustancias que en general no son perceptibles a simple vista ni con la ayuda de microscopios.
        </textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        Comparando concentraciones
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Para conocer la calidad de distintas mezclas, como el aire en una ciudad a diferentes horas del día o en el agua que se extrae de diferentes manantiales, es necesario determinar la concentración de los componentes que nos interesan. Como vimos, la concentración de una sustancia es una medida de la cantidad de soluto presente en cierta cantidad de disolución, la cual puede expresarse en porcentaje en masa (%m/m) o porcentaje en volumen (%v/v). Sin embargo, existen otras formas de expresar concentraciones que resultan útiles cuando se trabaja con mezclas en las que ciertos componentes están presentes en concentraciones muy bajas. Para ilustrar cómo expresar y calcular la concentración de solutos con otro tipo de unidades, consideremos el caso del agua embotellada.
            
México es el mayor consumidor de agua embotellada por persona en el mundo. Esta mezcla líquida proviene de diversas fuentes naturales y contiene una gran variedad de sustancias disueltas en pequeñas cantidades. Los siguientes incisos muestran los resultados del análisis de una muestra típica de agua embotellada.
            
Composición del agua embotellada: Concentraciones promedio en miligramos por litro (mg/l)
            -Calcio= 66 
            -Sulfatos= 42
            -Magnesio= 24 
            -Cloruros= 48
            -Sodio= 18 
            -Nitratos= 6
            
Estos datos indican la “concentración en masa” de cada sustancia en el agua.
            
La concentración en masa es una medida de la masa de soluto disuelta en cierto volumen de disolución; por ejemplo, la concentración de calcio es, en promedio, de 66 mg por litro de agua embotellada. Dicha concentración se puede expresar mediante otro tipo de unidades, por ejemplo, en partes por millón (ppm). Esta unidad establece cuántas partes de soluto hay por cada millón (1 000 000 = 1 × 106) de partes de disolución. Una “parte” se refiere a cualquier unidad de masa que se elija; por ejemplo, miligramos de calcio por cada millón de miligramos de disolución o kilogramos de calcio por cada millón de kilogramos de disolución.
            
Dado que la densidad del agua es cercana a 1 kilogramo (o 1 000 g) por litro, cada litro tiene una masa en miligramos igual a:
            
1 000 g × (1 000 mg/1 g) = 1 000 000 mg = 1 × 106 mg
            
Esto indica que tenemos 66 mg de calcio en cada millón de mg de agua embotellada y la concentración se expresa como 66 ppm. Lo anterior significa que la concentración en mg/l es igual a la concentración en ppm, pero sólo cuando la densidad de la disolución es de 1 kg/l (disoluciones acuosas).
            
En disoluciones en las que la concentración de solutos es mucho mayor que las que se presentan en los incisos, es recomendable utilizar otras unidades de concentración como unidades en porcentaje (%). Este tipo de unidad indica cuántas partes de soluto hay por cada 100 partes de disolución; por ejemplo, si sabemos que hay 66 mg de calcio por cada millón de miligramos de agua, ¿cuántos miligramos de calcio habrá en 100 mg de agua? Para calcular el resultado establecemos la siguiente proporción:
            
66/1 000 000 = C/100
            
C = (66 × 100) /1 000 000 = 0.0066 mg de calcio en 100 mg de agua o bien 0.0066%
            
donde C representa la concentración en porcentaje de calcio en el agua embotellada (0.0066% de calcio). En general, para convertir partes por millón (ppm) a porcentaje (%) basta dividir la concentración expresada en partes por millón entre 10000.
            
Estas expresiones de la concentración son importantes porque te permitirán determinar si una mezcla está más contaminada que otra.
              
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Toma de decisiones relacionada con la concentración y sus efectos
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Toda sustancia presente en el agua o en el aire puede causar problemas de salud si su concentración excede determinado límite, que es específico para cada tipo de sustancia. En general, identificamos como toxinas o venenos a las sustancias que son nocivas en cantidades muy pequeñas. Con base en investigaciones sobre efectos en la salud y cálculos de riesgo ha sido posible determinar la máxima concentración de un contaminante en el agua o en el aire sin que haya mayores problemas.

Como ejemplo, se presentan las concentraciones máximas permitidas para algunos de los contaminantes del agua de origen mineral más comunes. Estas concentraciones se determinan usando como referencia a una persona de 70 kg. Alguien con esta masa podría beber diariamente hasta dos litros de agua con la concentración de contaminantes que se indica durante 70 años sin sufrir problemas de salud. Sin embargo, si esa concentración se rebasa, pueden surgir afecciones graves. Ingerir plomo en altas concentraciones, por ejemplo, causa daños neurológicos severos y permanentes.
Contaminantes en el agua: concentración (ppm)
            -Mercurio= 0.002
            -Cadmio= 0.005
            -Plomo= 0.015
            -Cobre= 1.3
            -Cinc= 2

En la actualidad, la toxicidad de muchas sustancias se evalúa en animales de laboratorio determinando sus efectos a corto y largo plazos sobre órganos como hígado y riñón, y en sistemas, como el nervioso o reproductor. Una de las pruebas de toxicidad se basa en la determinación de la dosis mínima requerida para matar 50% de los animales necesarios en una prueba. Esta dosis letal se conoce como LD50 (por sus siglas en inglés).
            
Todas las sustancias son letales en determinada concentración, de ahí la frase “la dosis hace al veneno”; sin embargo, la LD50 de cada sustancia depende de su composición y estructura química. Por ejemplo, la LD50 del cloruro de sodio (sal común) es de 3 750 mg/kg. Esto significa que la dosis letal es de 3 750 mg por cada kilogramo de peso del animal de prueba, que es mucho mayor que la dosis de otras sustancias reconocidas como veneno. La LD50 de la nicotina que contienen los cigarros es de 2 mg/kg y la estricnina, un poderoso veneno presente en la nuez vómica, es de 0.8 mg/kg.
            
Hacer uso de animales para determinar la toxicidad de las sustancias no es nuevo. Desde tiempos inmemoriales los seres humanos han observado el efecto de sustancias diversas sobre los animales para evaluar sus efectos tóxicos. Esta práctica ha desempeñado un papel fundamental en la producción de medicamentos, y éstos no se ponen en venta sin antes determinar su LD50. El uso de animales de laboratorio para estos fines siempre ha sido tema de controversia. ¿Tú qué opinas?
            
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
      <div class="accordion_header">
        Pruebas
      </div>
      <div class="accordion_body">
        <textarea readonly="true">♥Pruebas cualitativas
Para detectar la presencia de contaminantes en un sistema se requieren pruebas de confirmación. Estas son pruebas de análisis químico cualitativo en las que es común utilizar sustancias que cambian o reaccionan con el contaminante y producen cambios observables, por ejemplo de color, o forman nuevas sustancias insolubles que precipitan (forman un sólido) en agua. Si la prueba es positiva, se confirma la presencia del contaminante. Sin embargo, una prueba negativa no necesariamente implica que la sustancia que se busca no está presente, ya que en ocasiones se encuentra en concentraciones tan bajas que resulta difícil detectarla.
            
♥Pruebas cuantitativas
Cuando se realizan investigaciones científicas es común hacer más de un experimento para verificar y corroborar que las evidencias obtenidas por diferentes métodos apuntan en la misma dirección. Algunos de estos experimentos son cualitativos y permiten detectar la presencia de una sustancia o explorar el comportamiento de un sistema. Sin embargo, también es importante realizar experimentos cuantitativos que involucren mediciones y la generación de datos numéricos. En estos casos, para facilitar el análisis es común representar los resultados en gráficas.   
        
</textarea>
      </div>
    </div>
  
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
<div align= "center">
      <a href="/actividades-Q5"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosq0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->