<section id="hero">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script> 
<br>
<br>
<br>
<center><strong><h1>Tema 6: Primera revolución de la Química</h1></strong></center>
<div class="wrapper">
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        ¿Qué cambia?
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Aprender a determinar la composición de los materiales que nos rodean es fundamental si los queremos utilizar con fines prácticos. Sin embargo, no es suficiente saber de qué están hechos esos materiales o cómo separar sus componentes, también debemos entender cómo cambian sus propiedades al calentarlos, enfriarlos, variar la presión a la que se encuentran e incluso al mezclarlos con otras sustancias. Por ejemplo, ¿qué le ocurre a un plástico con el que queremos fabricar platos cuando se calienta? ¿Qué le sucede a una fibra sintética con la que se fabrica ropa al sumergirla en agua con jabón?
            
En estos estudios se debe identificar qué propiedades de los materiales cambian y determinar cómo cambian, pero también prestar atención a las propiedades que no experimenta modificación alguna. Sólo de esta manera es posible tomar decisiones sobre cómo emplear los recursos con los que contamos.
            
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_2">
      <div class="accordion_header">
        ¿Qué se conserva durante el cambio?
      </div>
      <div class="accordion_body">
        <textarea readonly="true">El valor de las propiedades cuantitativas de una sustancia depende de las condiciones en las que se mide. Por ejemplo, las temperaturas de fusión y ebullición de una sustancia cambian al variar la presión atmosférica o al mezclarla con otra sustancia. Así, cuando una sustancia en estado sólido se calienta su volumen se incrementa (dilatación) y su densidad disminuye; la conductividad eléctrica de los metales disminuye al incrementar la temperatura y la viscosidad de algunas sustancias puede variar según la fuerza con la que se agiten.
            
Al estudiar transformaciones es importante determinar cómo cambian las propiedades de las sustancias involucradas. Este conocimiento resulta muy valioso si queremos aprender a controlar el proceso y darle utilidad práctica. Sin embargo, no sólo identificar lo que cambia es primordial. Muchas veces se aprende más de los fenómenos de la Naturaleza al descubrir que hay características o propiedades que no cambian (también se dice que “se conservan”), a pesar de que un sistema experimenta una transformación. Por desgracia, identificar las propiedades que se conservan durante un proceso no siempre es fácil porque, como suele ocurrir, nuestros sentidos nos engañan.
            
Durante un cambio no es tan fácil identificar qué propiedades de las sustancias cambian y cuáles se conservan. Con frecuencia la dificultad radica en que no prestamos suficiente atención a las condiciones en las que se realizan los procesos. En otros casos usamos el conocimiento que hemos adquirido en la vida diaria sin reflexionar en torno a las diferencias entre nuestra experiencia y el fenómeno que observamos. Por ejemplo, casi todo el mundo sabe que cuando un pedazo de madera se quema, la masa de las cenizas es menor que la del trozo original. Como nuestro sentido de la vista no logra detectar la gran cantidad de gases que se escapan durante el proceso, hay quienes piensan que la materia simplemente desaparece. Otros consideran que aunque se atraparan todos esos gases, la masa total al final de la combustión sería menor que la masa inicial. No obstante, experimentos llevados a cabo en sistemas cerrados, es decir, sistemas en los que no se escapa ninguna materia, muestran que la masa total nunca cambia, siempre se conserva.
            
Es común que en experimentos que producen gases cualquier persona suponga que la masa disminuye debido a la creencia de que los gases pesan poco o nada. Sin embargo, todos los gases tienen masa, aunque parecen pesar poco porque su densidad es muy pequeña y, por tanto, pequeñas cantidades de gas ocupan un gran espacio. Cuando sostenemos algo lleno de gas, como un globo, parece tener poco peso porque no hay mucho gas dentro él. El aire que nos rodea es menos denso, pero su masa total es gigantesca si se considera el gran volumen de la atmósfera.
                         
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_3">
      <div class="accordion_header">
        Historia de la Ciencia: Aportaciones de Lavoisier
      </div>
      <div class="accordion_body">
        <textarea readonly="true">A lo largo de la historia de la humanidad, distintos filósofos y científicos han propuesto que la materia que nos rodea se conserva durante los cambios o transformaciones. En Grecia, el filósofo Anaxágoras (500-428 a.n.e.) estableció que nada se crea o destruye, sólo se combina y separa. Demócrito (460-370 a.n.e.) postuló que toda la materia se constituía por pequeñas partículas o “átomos” inmutables e indestructibles.
            
Estas ideas se transmitieron de una generación de filósofos a otra y de una a otra cultura durante siglos, sin que cambiaran significativamente. El filósofo árabe Nasiral-Din al-Tusi (1201-1274) escribió: “Un cuerpo material no puede desaparecer completamente. Sólo cambia su forma, condición, composición, color y otras propiedades, y se transforma en formas complejas o elementales de materia.” Ideas como ésta se basaban en creencias y opiniones sobre las características y propiedades del Universo, pero no en observaciones y mediciones de las propiedades de la materia y sus transformaciones. Se trataba, pues, de especulaciones carentes de pruebas convincentes que las sustentaran.
            
Fue hasta el siglo xviii que los científicos de Occidente reconocieron y verificaron en forma convincente lo que hoy conocemos como “Principio de conservación de la materia”. Aunque muchas personas contribuyeron a este logro al aportar novedosos experimentos y proponer valiosas ideas, el trabajo del químico francés Antoine Laurent Lavoisier (1743-1794) fue decisivo no sólo porque demostró de forma contundente la validez de este principio, sino porque revolucionó las ideas y métodos de trabajo de los químicos.
            
Lavoisier trabajaba como recaudador de impuestos durante los últimos años de la monarquía francesa. Al heredar una pequeña fortuna de su familia pudo conseguir el puesto de supervisor en los talleres oficiales de fabricación de pólvora. Esta actividad le permitió construir y equipar su propio laboratorio, el cual se convertiría en uno de los más famosos y productivos de la época. Ahí Lavoisier realizó una gran cantidad de experimentos con diversas sustancias, pero su trabajo con mercurio y estaño fueron cruciales para demostrar la conservación de la materia.
            
En la época de Lavoisier, los científicos observaron que diversas transformaciones químicas producían gases que escapaban de sus recipientes. Con esta idea, Lavoisier pesó y calentó estaño en un recipiente sellado hasta transformarlo por completo en “cal metálica” (óxido de estaño); luego pesó de nuevo su sistema y con ello demostró que el peso total del recipiente no cambiaba durante el proceso. Para explicar la transformación, Lavoisier razonó que el estaño debía haberse combinado con una sustancia presente en el aire (oxígeno), pues al abrir el recipiente el aire exterior entraba con violencia y la masa de la cal metálica producida era mayor que la del metal original.
            
En 1777, después de llevar a cabo múltiples experimentos, Lavoisier concluyó que, sin lugar a dudas, la masa que los metales ganaban al calentarlos en presencia de aire era igual a la masa perdida por el aire presente cuando se calentaban. Publicó el Tratado elemental de Química que incluía una ley general denominada “de la conservación de la masa”, la cual establecía que “nada se crea, nada se destruye, solo se transforma.” Lavoisier, como Isaac Newton, consideraba que la masa de las sustancias era una medida directa de la cantidad de materia presente en ellas. Por ello sus resultados se conocen como Principio de conservación de la materia o de la masa.
            
El pensamiento y trabajo de Lavoisier estuvieron influidos por los de otros científicos. En particular, basado en las ideas de Newton, buscó explicar las propiedades de las sustancias y sus transformaciones con base en principios o leyes físicas bien establecidas. A partir del trabajo de Carl von Linneo en Biología, Lavoisier desarrolló un sistema riguroso de clasificación y nomenclatura de las sustancias conocidas. El éxito de su trabajo se debió en gran medida a que estaba convencido de la necesidad de:
            
   a) Hacer mediciones cuidadosas de las propiedades de las sustancias antes y después de realizar cualquier proceso.
            
   b) Controlar las variables de cada experimento para asegurar que los resultados fueran reproducibles.
            
Para ello escribía en su bitácora, con ayuda de su esposa, cómo llevaba a cabo cada experimento y en qué condiciones.
           
Durante la Revolución Francesa de 1789, Lavoisier apoyó a los reformistas y pudo mantener su puesto en el arsenal de armas y explosivos. Sin embargo, cuando la revolución alcanzó su etapa más extrema (El Terror), las personas más acomodadas y relacionadas con la aristocracia, como Lavoisier, empezaron a ser perseguidas. Los recaudadores de impuestos eran despreciados y Lavoisier terminó su vida en la guillotina.
            
            
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_4">
      <div class="accordion_header">
        Ley de conservación de la masa
      </div>
      <div class="accordion_body">
        <textarea readonly="true">Las ideas y métodos de trabajo de Lavoisier sentaron las bases para el surgimiento de la Química moderna. Gracias a sus investigaciones, los químicos reconocieron la importancia de hacer mediciones precisas y controlar cuidadosamente las variables durante sus experimentos. El establecimiento de la Ley de conservación de la masa permitió realizar predicciones de la cantidad de sustancia necesaria para llevar a cabo una transformación química, y de la cantidad de productos generados. Lavoisier contribuyó de manera decisiva a cambiar la forma de pensar y actuar de los químicos y por ello sus ideas y trabajo se consideran revolucionarios.
            
No obstante que la idea de que la materia no se crea ni se destruye se formuló por primera vez cientos de años antes del nacimiento de Lavoisier, fue hasta el siglo xvii que los filósofos y científicos reconocieron la necesidad de cuantificar la cantidad de materia y desarrollaron procedimientos rigurosos para determinarla. De hecho, antes de esta época el concepto de masa no estaba bien definido y no se utilizaba para referirse a la cantidad de materia de las cosas. Tampoco se daba gran importancia a la medición cuidadosa de las propiedades ni a la verificación de ideas o hipótesis mediante experimentos.
            
De manera general, la Ley de conservación de la masa establece que “la masa total de un sistema cerrado se mantiene constante, independientemente de los cambios que ocurran dentro del sistema”. Esto implica que no importa si las sustancias que conforman el sistema cambian su estado de agregación o se combinan químicamente, pues mientras el sistema se mantenga cerrado, la masa total permanece constante. La Ley de conservación de la masa se cumple en todo tipo de cambios químicos en sistemas cerrados, sin importar si las sustancias resultantes son gases, líquidos o sólidos. La masa total al principio del proceso será igual que la masa total al final del cambio. Recuerda que los cambios químicos se pueden presentar al calentar o variar la presión de las sustancias, lo que da lugar a la formación de nuevas sustancias.
      
</textarea>
      </div>
    </div>
    <div class="accordion_wrap accordion_5">
        <div class="accordion_header">
            La masa se conserva pero...
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Dado que la masa total de un sistema cerrado se conserva sin importar si se produce un cambio físico o químico, se podría pensar que no hay que preocuparse en cómo se utilizan los recursos disponibles en nuestro planeta. Finalmente, si nada se crea ni se destruye, ¿cuál es el problema? ¿Por qué hay quienes insisten en la necesidad de “conservar” los recursos de la naturaleza?
            
Para efecto práctico, la Tierra se considera un sistema cerrado. Aunque cierta materia escapa de la atmósfera hacia el espacio exterior y constantemente somos “bombardeados” por partículas y objetos que llegan de fuera del planeta, la masa total que se gana o pierde es muy pequeña en comparación con la masa total de la Tierra. Desde esta perspectiva, no importa lo que hagamos, es difícil que lleguemos a alterar la masa del planeta.
            
Sin embargo, cada vez que ocurre un cambio químico, aunque la masa total no cambie, la naturaleza química de las sustancias involucradas se altera: algunas sustancias se consumen y otras se forman. En muchos casos, las nuevas sustancias son de gran utilidad en múltiples aplicaciones, y en otros, se generan productos que difícilmente se pueden reutilizar.
            
Por ejemplo, el petróleo que se extrae del subsuelo es una mezcla de cientos de sustancias diferentes. Algunas de ellas, como el octano, son excelentes combustibles y se les separa de la mezcla para fabricar gasolina. En el caso de un automóvil, la gasolina se combina en el motor con el oxígeno del aire produciendo dióxido de carbono y vapor de agua que escapan hacia el ambiente. En este proceso se genera la energía suficiente para mover el vehículo.
            
Si pudiéramos atrapar todo el dióxido de carbono y el agua que se producen, comprobaríamos que su masa total es idéntica a la de la gasolina y el oxígeno que reaccionaron en el tanque. El problema real es que las nuevas sustancias que se generan ya no pueden utilizarse como combustibles y hay que invertir una gran cantidad de energía para transformarlas de nuevo en oxígeno y octano.
            
Otros recursos, como los metales, se “consumen” de manera distinta. Para que una mina se considere productiva es necesario encontrar minerales que contengan el metal de interés en cierta concentración. Si la concentración es más baja que ese límite, el dinero y esfuerzo invertidos para extraerlos no compensa lo que se gana por procesarlos. Cada vez que se explota una mina, la cantidad de minerales con la concentración deseada disminuye en el planeta, aunque sin duda la masa total del metal sobre la Tierra no cambia.
             
  </textarea>
        </div>
      </div>
      <div class="accordion_wrap accordion_6">
        <div class="accordion_header">
            Los conocimientos químicos son tentativos
        </div>
        <div class="accordion_body">
          <textarea readonly="true">Antes de que Lavoisier estableciera la Ley de conservación de la masa, los químicos pensaban que cuando un objeto o material se quemaba, una sustancia invisible llamada “flogisto” se consumía o escapaba. Lavoisier pensó que si esta idea era correcta, entonces la masa de todas las cosas debía ser más pequeña después de quemarlas. Sin embargo, en varios de sus experimentos encontró que, sorprendentemente, la masa de algunos materiales se incrementaba al quemarlos. Estos resultados contradictorios lo llevaron a otros experimentos que no sólo le permitieron establecer la Ley de conservación de la masa, sino a entender el proceso de combustión. Con base en sus estudios, Lavoisier demostró que el flogisto no existía y que la combustión era el resultado de la reacción química entre los materiales y el oxígeno presente en el aire.
            
Los trabajos e ideas de Lavoisier en el siglo xviii cambiaron la forma de pensar y trabajar de los químicos de manera fundamental. En particular, la propuesta de medir la masa de las sustancias con las que se trabaja tuvo una influencia determinante en el desarrollo de la Química moderna. Por ello, a este periodo de la historia de la Química se le conoce como Primera Revolución de la Química. En secuencias posteriores veremos que los químicos han cambiado su manera de pensar en diversas ocasiones a partir de los resultados de experimentos que contradicen sus ideas. El conocimiento químico, como todo conocimiento científico, es tentativo y está sujeto a cambios como resultado de la nueva información y el avance tecnológico. Para ilustrarlo, considera este otro ejemplo.
            
El desarrollo de la ciencia y la tecnología a principios del siglo xx permitió transformar la materia en formas antes inimaginables. En particular, los avances tecnológicos permitieron explorar y transformar el interior de los átomos, que son los componentes de las sustancias. Estos trabajos fueron la base para el desarrollo de los procesos de fisión y fusión atómicas que liberan grandes cantidades de energía y que hoy se aprovechan en plantas de energía nuclear. Mediciones precisas de las masas de los combustibles nucleares antes y después de transformarlos muestran que la masa total no es la misma antes y después del proceso. En las “transformaciones nucleares” una pequeña cantidad de masa se transforma en grandes cantidades de energía. Estos resultados llevaron a los científicos a reformular la Ley de conservación de la masa en reacciones nucleares y les permitieron entender mejor la relación entre masa y energía.
  
  </textarea>
        </div>
      </div>
  </div>	
	<style>
      .bt2{padding:6px;border-radius:10px col; background-color: blueviolet; color: blanchedalmond;}
    </style>
<div align= "center">
      <a href="/actividades-Q6"><button class="bt2" >Actividad</button></a>
      </div>


    <br>
    <br>
    <br>
    <a href="/contenidosq0"><img src="img/back.png" class="img-fluid" alt=""  width="140" height="70"></a>
  </section><!-- End Hero -->