<section id="hero">
    <br>
    <br> 
    <br>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card1">
                <div class="card-header">
                    <h3>Iniciar Sesión</h3>
                   
                </div>
                <div class="card-body">
                    {{{message}}}
                    <form action="/login" method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="correo_usuario" class="form-control" placeholder="Usuario">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="contraseña_usuario" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recordar
                        </div>
                        <a href="/auth/facebook">Login con Facebook</a>
                        <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Iniciar" class="btn float-right login_btn">
                    </div>
                </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <br> 
    <br>
    <br>

  </section>