<section id="hero">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Registro</h3>

                </div>
                <div class="card-body">
                    {{{message}}}
                    <form action="/registro" method="POST">
                        <div class="input-group form-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="nombre_usuario" class="form-control" placeholder="Nombre(s)"
                                onkeypress="return validarletras(event)">

                        </div>
                        <div class="input-group form-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="apellidos_usuario" class="form-control" placeholder="Apellidos"
                                onkeypress="return validarletras(event)">

                        </div>
                        <div class="input-group form-group">
                            
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="date" name="fecha_usuario" class="form-control" placeholder="Fecha de nacimiento">
                            
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="email" name="correo_usuario" class="form-control" placeholder="Correo">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="contraseña_usuario" class="form-control"
                                placeholder="Contraseña">
                        </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn float-right login_btn">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
</section><!-- End Hero -->